<ul>
  <li><div><%= t(:goals_first_period) %> <span>(<%= match.visitor_goals_first_period %>)</span></div></li>
  <li><div><%= t(:goals_last_period) %> <span>(<%= match.visitor_goals_last_period %>)</span></div></li>
  <li><div><%= t(:yellow_cards) %> <span>(<%= match.visitor_yellow_cards %>)</span></div></li>
  <li><div><%= t(:fouls) %> <span>(<%= match.visitor_fouls %>)</span></div></li>
</ul>