<tr>
  <td><span><%= contact.subject %></span></td>
  <td><%= '<span class="icon icon-envelop"></span>'.html_safe unless contact.read %></td>
  <td><%= link_to t('contacts.index.read_message'), contact_path(contact), title: t('contacts.index.read_message') %></td>
</tr>