/*dark green*/
.thcolor,
.thcolorhover:hover,
.section-title h2,
.pro-inner:hover figcaption h4 a,
.next-prev-style .owl-nav div,
.blog-list ul li:hover .time-zoon h5 a,
.large-blog ul li:hover .blog-btn,
.children li a:before,
.grid-blog .blog-options li a:hover,
.widget-tabnav li:hover a,
.widget-tabnav li.active a,
.recent-blog > ul > li:hover h6 a,
.widget-recent-news ul li:hover h6 a,
.widget_categories ul li:hover a,
.widget_categories ul li:hover a:before,
.related-blog ul li:hover h6 a,
.gallery ul li:hover h2 a,
.player-nav li.active a,
.fixer-pagination a:hover,
.next-prev-style .owl-nav div {
	color: #195D10 !important;
}

.heading-12 span.left,
.heading-12 span.right,
.thbg-color,
.thbg-colorhover:hover,
.navbar-nav > li > a:before,
.owl-nav div:hover,
.team-network li a:hover,
.team-list figure:hover figcaption h2 a,
.services ul li:hover .service-info,
.table thead,
.blog-list ul li:hover .time-zoon time,
.blog-list ul li:hover .time-zoon:before,
.bottom-footer,
.children > li:hover > a,
.pagination a:hover,
.pagination span,
.widget-tabnav li a:before,
.widget-recent-news ul li:hover time,
.table caption,
.shop-btn a:hover,
.fixer-btn a:hover,
.underconstruction .innersearch form input[type="submit"] {
	background-color: #195D10;
}

.next-prev-style .owl-nav div,
.th-bordercolor,
.th-bordercolorhover:hover,
.kd-headbar,
.section-title h2,
.owl-nav div:hover,
.team-list figure:hover figcaption h2 a,
.next-prev-style .owl-nav div,
.table,
.simple-form ul li input[type="submit"],
.children,
.grid-blog .blog-info:before,
.modrenbtn:hover,
.widget-title h2,
.widget-recent-news ul li:hover time,
blockquote,
.inner-fixer,
#koderespond form p input[type="button"],
#koderespond form p input[type="submit"],
.header-three .navbar-nav > li > a::before {
	border-color: #195D10 !important;
}

.tab-widget {
	box-shadow: 0px 2px 0px 0px #195D10, 0px 2px 0px 0px #195D10 inset;
}

.admin-post:before,
.result-list article:before,
.testimonial figure:before,
.countdown-amount:before {
	border-top-color: #195D10;
}

.subheader-height:after {
	border-bottom-color: #195d10;
}

.subheader-height:before {
	background: #195d10;
}

.subheader {
	background: #009c00;
}

/*yellow*/
.thcolortwo,
.thcolortwohover:hover,
.medium-blog > ul > li:hover h5 a,
.medium-blog .blog-options li a:hover {
	color: #195d10;
}

.thbg-colortwo,
.thbg-colortwohover:hover,
#mainbanner .flex-control-paging li a.flex-active,
.pro-inner:hover .pro-info,
.medium-blog > ul > li:hover .medium-info time,
.caption h2 {
	background-color: #195d10;
}

.caption h2:before,
.caption h2:after {
	border-bottom-color: #195d10;
}

.modren-btn,
.th-bordertwocolor,
.th-bordercolortwohover:hover,
.medium-blog,
.medium-blog > ul > li:hover .medium-info time,
.loginform p input[type="submit"] {
	border-color: #195d10;
}