.space-menu {
	height: 125px;
	background-color: #195D10;
}

#banner {
	height: 78px;
	text-align: center;
	width: 100%;
}

.background-color {
	background-color: #195D10;
}

.divider-item {
	margin-bottom: 25px;
}

.center {
	text-align: center;
}

.box {
	padding: 10px;
	margin: 10px;
	border: 1px solid #fff;
}

.margin-bottom-20px {
	margin: 0 0 20px;
}

.margin-top-15px {
	margin-top: 15px;
}

.margin-top-bottom-25px-70px {
	margin: 25px 0 70px;
}