/* CSS Document */
@media (min-width: 1300px) {
	.subheader-height:before {
		width: 52.1%;
	}

	.subheader-height:after {
		right: 52.1%;
	}
}

@media (min-width: 1400px) {
	.subheader-height:before {
		width: 51.4%;
	}

	.subheader-height:after {
		right: 51.4%;
	}
}

@media (min-width: 1900px) {
	.subheader-height:before {
		width: 51.6%;
	}

	.subheader-height:after {
		right: 51.6%;
	}
}

/*
===========================================================================
								1200px
===========================================================================
*/
@media (min-width: 1200px) {
	.dl-menuwrapper {
		display: none;
	}

	.full-size-wrapper .bx-controls-direction {
		display: none;
	}
}

/*
===========================================================================
							992px to 1199px
===========================================================================
*/
@media (min-width: 992px) and (max-width: 1199px) {
	.dl-menuwrapper {
		display: none;
	}

	.header-9 .kf-cart-options .cart-itmes {
		padding: 16px 14px;
	}

	.full-size-wrapper .bx-controls-direction {
		display: none;
	}

	.shipping-services {
		padding: 10px;
	}

	.navigation ul > li > a,
  .navbar-nav > li > a {
		padding: 30px 10px;
	}

	.flickr_badge_image {
		float: left;
		margin: 0 -9% 10px 0;
		width: 33.333%;
	}

	.flickr_badge_image img {
		width: 100%;
	}

	.navigation ul > li > a,
  .navbar-nav > li > a {
		font-size: 12px;
	}

	.couses-options li {
		font-size: 13px;
	}

	.couses-donate-btn {
		margin-top: 8px;
	}

	.kode_header_5 .kode_nav_1 ul li a {
		padding: 40px 12px;
	}

	.services-3 .text-3 h2 {
		font-size: 22px !important;
	}

	.donate-text p {
		font-size: 16px;
	}

	.donate-text .btn-filled {
		font-size: 16px;
		padding: 10px 20px;
	}

	.cause-list .cause-content .text h2,
  .newslatter h2 {
		font-size: 22px !important;
	}

	.newslatter span {
		font-size: 14px;
	}

	.main-action span {
		font-size: 22px;
	}

	.main-action a {
		margin-top: 15px;
	}

	.grid-blog .col-md-4 .blog-thumbnail iframe {
		height: 150px;
	}

	.timezoon {
		right: -25%;
	}

	.section-container .col-md-9 .blog-grid-ux iframe {
		height: 176px;
	}

	.result-thumb ~ .result-info {
		padding: 0 150px 0 0;
	}

	.result-list article.even .result-thumb ~ .result-info {
		padding: 0 0 0 150px;
	}

	.result-info h2 {
		font-size: 20px !important;
	}

	.table span {
		width: 22%;
		font-size: 15px;
	}

	.table thead th {
		font-size: 14px;
	}

	.grid-blog .col-md-6 .blog-thumbnail iframe {
		height: 239px;
	}

	.table thead th {
		font-size: 12px;
	}

	.caption .caption-title {
		font-size: 34px;
		margin-bottom: 20px;
	}

	.caption .caption-title:before {
		border-bottom-width: 71px;
	}

	.caption .caption-title::after {
		border-bottom-width: 71px;
	}

	.caption {
		bottom: 70px;
	}

	.header-8 {
		padding: 0px;
	}
}

/*
===========================================================================
							768px to 991px
===========================================================================
*/
@media (min-width: 768px) and (max-width: 991px) {
	.headbar .row .col-md-3 {
		width: auto;
		float: left;
	}

	.headbar .row .col-md-9 {
		width: auto;
		float: right;
	}

	.logo {
		margin: 10px !important;
	}

	.navigation {
		display: none;
	}

	.dl-menuwrapper {
		display: block;
		margin: 19px 0px 19px 20px;
		float: right;
	}

	.donate-btn {
		margin: 19px 0;
	}

	.header-9 .logo-container .logo {
		margin-bottom: 21px;
	}

	.shipping-services,
  .kf-services {
		margin-bottom: 30px;
	}

	.kf-team .social ul li a {
		padding: 30px;
	}

	.footer-2 .container .row .col-md-2:first-child,
  .product-listing2 ul li,
  .new-products .columns,
  .team-listing.kd-team .columns,
  .product-container .thumb a {
		width: 100%;
	}

	.social-contacts h2 {
		float: none;
	}

	.social-contacts ul {
		float: none;
		margin: 0px;
		padding: 0px;
	}

	.social-contacts .icon-text p {
		float: none;
	}

	.header-1 .dl-menuwrapper {
		margin-top: 20px;
	}

	.full-size-wrapper .bx-controls-direction {
		display: none;
	}

	.header-1 .logo {
		margin-top: 0;
	}

	.header-4 .dl-menuwrapper {
		margin-top: 0px;
	}

	.headbar .row .col-md-3 {
		width: auto;
		float: left;
	}

	.headbar .row .col-md-9 {
		width: auto;
		float: right;
	}

	.main-action {
		text-align: center;
	}

	.main-action span {
		width: 100%;
		font-size: 24px;
	}

	.main-action a {
		display: inline-block;
		float: none;
	}

	.maintitle h3 {
		font-size: 34px;
	}

	.fa-4x {
		font-size: 3em;
	}

	.project_facts span {
		font-size: 35px;
	}

	.project_facts h2 {
		font-size: 20px;
	}

	.cause-inner-caption h2 {
		font-size: 18px;
	}

	.gutter-gallery ul li {
		float: left;
		width: 50%;
	}

	.gutter-gallery ul li.clear {
		display: none;
	}

	.classic-action {
		text-align: center;
	}

	.actionbtn {
		float: none;
		display: inline-block;
	}

	#footer-widget .widget-bg-footer {
		float: left;
		width: 100%;
	}

	.subheader.subheader-height .col-md-6 {
		float: right;
		width: auto;
	}

	.subheader.subheader-height div.col-md-6:first-child {
		float: left;
	}

	.breadcrumb {
		margin: 10px 0px 0px 0px;
	}

	.ab-thumb {
		display: none;
	}

	#footer-widget .widget {
		float: left;
		width: 100%;
	}

	.blog-grid-ux {
		float: left;
		width: 100%;
		margin: 0px 0px 20px 0px !important;
	}

	.medium-wrap {
		margin: 0px 0px 20px 0px;
	}

	.blog-full {
		float: left;
		margin: 0px 0px 20px 0px;
	}

	.innsec ul li.map-event,
  .innsec ul li.image-event {
		width: 100%;
	}

	.event-cell h2 {
		font-size: 20px;
	}

	.causes-list div.clear {
		display: none;
	}

	.woocommerce-content ul.products li {
		width: 31.3%;
	}

	.newslatter-info {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.newslatter form {
		width: 100%;
		padding: 0px;
	}

	.kode_header_7 .kode_donate_btn {
		float: left;
	}

	.kode_header_7 .dl-menuwrapper {
		margin: 11px 0px;
	}

	.kode_header_7 .kode_sec_strip .col-md-4 {
		width: 33.333%;
		float: left;
	}

	#header-style-3 .dl-menuwrapper {
		margin: 11px 0;
	}

	#header-style-3 .donate-btn {
		float: left;
	}

	#header-style-3 .col-md-4 {
		width: 33.333%;
		float: left;
	}

	#header-style-3 .kode_loc {
		padding: 15px 0px 0px 0px;
	}

	#header-style-3 .kode_logo .logo {
		margin: 0px !important;
	}

	.result-list article {
		margin-top: 70px;
	}

	.topbar-menu .row .col-md-6 {
		width: 50%;
		float: left;
	}

	.userinfo li {
		padding: 5px 7px;
	}

	.partner .row .col-md-3 {
		width: 25%;
		float: left;
	}

	.bottom-footer .row .col-md-6 {
		width: 50%;
		float: left;
	}

	.partner .row .col-md-3 {
		width: 25%;
		float: left;
	}

	.team-list > ul > li {
		float: left;
		width: 100%;
	}

	.grid-blog .col-md-3 .blog-thumbnail iframe {
		height: 360px;
	}

	.navigation {
		display: none;
	}

	.result-list.shape-view .margin-bottom-top-50 {
		margin: 0px;
	}

	.player-tabs .table thead th {
		font-size: 12px;
	}

	.newslatter h3 {
		margin: 0px 0px 20px 0px;
	}

	.blog-full .time-zoon h5 {
		font-size: 20px !important;
	}

	.shop-list ul li {
		clear: none;
	}

	.woocommerce-content ul.products li {
		width: 48% !important;
	}

	li.bbp-forum-info,
  li.bbp-topic-title {
		width: 45%;
	}

	li.bbp-forum-topic-count,
  li.bbp-topic-voice-count,
  li.bbp-forum-reply-count,
  li.bbp-topic-reply-count {
		width: 15%;
	}

	.partner .row .col-md-3 {
		width: 22.833%;
	}

	.timezoon {
		right: 31%;
	}

	.simple-column img {
		width: 100%;
	}

	.partner .row .col-md-3 {
		width: 22.933%;
	}

	.table thead th {
		font-size: 13px;
	}
}

@media (max-width: 991px) {
	.caption {
		bottom: 30px;
	}

	.header-8 {
		padding: 0px;
	}

	.caption .caption-title {
		font-size: 34px;
		margin-bottom: 20px;
	}

	.caption .caption-title:before {
		border-bottom-width: 71px;
	}

	.caption .caption-title::after {
		border-bottom-width: 71px;
	}
}

/*
===========================================================================
								767px
===========================================================================
*/
@media (max-width: 767px) {
	.full-size-wrapper .bx-controls-direction {
		display: none;
	}

	.navigation-wrapper {
		display: none;
	}

	.headbar .row .col-md-3 {
		width: auto;
		float: left;
	}

	.headbar .row .col-md-9 {
		width: auto;
		float: right;
	}

	.logo {
		margin: 10px;
	}

	.dl-menuwrapper {
		float: right;
		margin: 9px 0px;
	}

	.donate-btn {
		margin: 19px 0px;
	}

	#footer-widget .widget-bg-footer {
		float: left;
		width: 100%;
	}

	.woocommerce div.product div.images {
		width: 100%;
	}

	.woocommerce div.product div.summary {
		padding: 0px;
		width: 100%;
	}

	.woocommerce ul.products {
		margin: 0px;
		float: left;
		width: 100%;
	}

	.woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
		width: 100%;
		float: left;
		margin: 0px 0px 30px 0px;
	}

	.main-action span {
		width: 100%;
		text-align: center;
		font-size: 20px;
	}

	.main-action a {
		float: none;
		display: inline-block;
		margin-top: 10px;
	}

	.main-action {
		text-align: center;
	}

	.main-action h2 {
		font-size: 20px;
		display: block;
	}

	.actionbtn {
		float: left;
		width: 100%;
	}

	.actionbtn a {
		float: none;
		display: inline-block;
		margin: 5px 0px;
	}

	.team ul.row {
		margin: 0px;
	}

	.team ul.row li {
		margin: 0px 0px 30px 0px;
		padding: 0px;
	}

	.header-absolute {
		position: relative;
		z-index: 100;
	}

	.headbar {
		float: left;
		width: 100%;
		margin: 0px;
	}

	.caption .caption-title {
		font-size: 30px;
	}

	.caption .caption-text {
		font-size: 16px;
	}

	.caption .linksection {
		font-size: 16px;
		padding: 5px 20px;
		margin: 0px;
	}

	.caption {
		bottom: 30px;
	}

	.gutter-gallery ul li {
		float: left;
	}

	.maintitle h3 {
		font-size: 26px;
	}

	.maintitle h2 {
		font-size: 18px;
	}

	.classic-action {
		text-align: center;
	}

	.classic-action h2 {
		font-size: 18px;
	}

	.actionbtn {
		text-align: center;
	}

	.actionbtn a {
		padding: 8px 10px;
		display: inline-block;
		float: none;
	}

	.gallery ul.item {
		float: left;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.gallery ul.item li {
		width: 100%;
		float: left;
	}

	.team .team-network ul li {
		margin: 0px 3px;
	}

	.newslatter {
		text-align: center;
		padding: 20px 30px;
	}

	.newslatter h2 {
		font-size: 18px;
	}

	.newslatter-info {
		margin: 0px 0px 20px 0px;
	}

	.newslatter-info,
  .newslatter form {
		float: left;
		width: 100%;
		position: relative;
		padding: 0px;
		text-align: center;
	}

	.newslatter form input[type="submit"] {
		padding: 10px 15px;
		position: absolute;
		right: 0px;
		top: 0px;
		font-size: 12px;
		height: 100%;
		border-radius: 0px;
	}

	.newslatter form input[type="text"] {
		width: 100%;
		height: 44px;
	}

	.blog-list.mediium-blog figure {
		float: left;
		width: 100%;
	}

	.mediium-blog figure ~ .blog-info {
		padding: 20px;
		float: left;
		width: 100%;
	}

	.blog-item-holder .columns {
		width: 100%;
	}

	.services-3 {
		margin-bottom: 30px;
	}

	.kode_header_7 .kode_donate_btn {
		float: left;
	}

	.kode_header_7 .dl-menuwrapper {
		margin: 11px 0px;
	}

	#header-style-3 .dl-menuwrapper {
		margin: 11px 0;
	}

	#header-style-3 .donate-btn {
		float: left;
	}

	#header-style-3 .col-md-4 {
		width: 33.333%;
		float: left;
	}

	#header-style-3 .kode_loc {
		padding: 15px 0px 0px 0px;
	}

	#header-style-3 .kode_logo .logo {
		margin: 0px !important;
	}

	#header-style-3 .team-network {
		float: left;
		padding: 0px;
		margin: 0px;
		text-align: center;
	}

	#header-style-3 .team-network li {
		display: inline-block;
		float: none;
	}

	#header-style-3 .kode_top_strip {
		padding: 10px 0px;
	}

	.result-list article {
		margin-bottom: 100px;
	}

	.topbar-menu .row .col-md-6 {
		width: 50%;
		float: left;
	}

	.userinfo li {
		padding: 5px 7px;
	}

	.partner .row .col-md-3 {
		width: 31.333%;
		float: left;
		margin: 0px 1%;
	}

	.grid-blog .col-md-3 .blog-thumbnail iframe {
		height: 360px;
	}

	.team-list > ul > li {
		float: left;
		width: 100%;
	}

	.grid-blog .col-md-4 .blog-thumbnail iframe {
		height: 350px;
	}

	.caption .caption-title::before,
  .caption .caption-title::after,
  .caption .caption-text,
  .caption .linksection {
		display: none;
	}

	.caption {
		bottom: 80px;
	}

	.countdown-section {
		margin: 0px 20px;
	}

	.team-timeline ul {
		margin: 0px;
	}

	.team-match ul li {
		margin-left: 30px;
		padding: 20px;
	}

	.team-timeline ul li {
		width: 100%;
		margin: 0px 0px 90px 0px;
		padding: 0px;
	}

	.timezoon {
		right: 50%;
		margin-right: -43px;
		bottom: -77px;
		top: auto;
		z-index: 10;
	}

	.subheader {
		height: auto;
	}

	.subheader.subheader-height {
		padding: 20px 0px;
	}

	.simple-column img {
		width: 100%;
	}

	.header-8 {
		background-color: #000;
	}

	.bottom-footer .row div.col-md-6:first-child {
		float: left;
	}

	.bottom-footer .row div.col-md-6 {
		width: auto;
		float: right;
	}

	.result-list.shape-view .margin-bottom-top-50 {
		margin: 0px;
	}

	.player-tabs .table thead th,
  .table thead th {
		font-size: 12px;
	}

	.woocommerce div.product div.images {
		width: 100% !important;
	}

	.woocommerce div.product div.summary {
		float: left !important;
		width: 100% !important;
		padding: 20px 0px 0px 0px !important;
	}

	.timeline-inner:before {
		display: none;
	}

	.team-timeline ul:before {
		margin: 0px;
	}

	.admin-post {
		padding: 20px;
	}

	.admin-post:before {
		border-right: 100px solid transparent;
		border-top: 100px solid transparent;
		top: -16px;
	}

	.result-thumb ~ .result-info {
		padding: 0 100px 0 0;
	}

	.result-list article.even .result-thumb ~ .result-info {
		padding: 0 0 0 100px;
	}

	.result-list article:before {
		border-left: 140px solid transparent;
		border-top: 140px solid;
		top: 0px;
	}

	.result-thumb {
		height: 90px;
		width: 90px;
	}

	.result-thumb img {
		width: 100%;
		height: auto;
	}

	.result-count {
		font-size: 30px;
		top: -23px;
	}

	.result-list article {
		margin: 50px 0px 0px 0px;
	}

	.newslatter h3 {
		margin-bottom: 20px;
	}

	.player-tabs .table thead th {
		padding: 4px 5px;
	}

	.player-nav li a {
		padding: 14px 20px;
	}

	.partner .row .col-md-3 {
		width: 22.933%;
	}

	.kd-loginbox .modal-dialog {
		width: 97%;
	}

	.table thead th:nth-child(2),
  .table tbody td:nth-child(2),
  .table thead th:nth-child(4),
  .table tbody td:nth-child(4) {
		display: none;
	}

	li.bbp-forum-info,
  li.bbp-topic-title {
		width: 40%;
	}

	li.bbp-forum-topic-count,
  li.bbp-topic-voice-count,
  li.bbp-forum-reply-count,
  li.bbp-topic-reply-count {
		width: 15%;
	}

	li.bbp-forum-freshness,
  li.bbp-topic-freshness {
		width: 30%;
	}

	.kd-testimonial p {
		font-size: 18px !important;
	}

	.kd-testimonial .bx-wrapper li {
		padding: 0px 70px !important;
	}

	.caption-wrapper .caption-text {
		display: none;
	}

	.header-8 {
		padding: 20px 0px;
	}

	.simple-form {
		padding: 0px 15px;
	}

	footer .widget {
		margin-bottom: 30px;
	}
}

/*
===========================================================================
								480px
===========================================================================
*/
@media (max-width: 480px) {
	.header-8 {
		background: #333;
	}

	.userinfo li a {
		font-size: 12px;
	}

	.logged-in.admin-bar .header-1 {
		margin-top: 0px;
	}

	.userinfo {
		float: none;
		text-align: center;
	}

	.newslatter {
		padding: 20px 0px;
	}

	.newslatter h2 {
		font-size: 22px !important;
	}

	.newslatter span {
		font-size: 14px;
	}

	.widget_kode_contact_widget ul li span,
  .widget_kode_contact_widget ul li a {
		margin: 0px !important;
	}

	.topbar {
		height: auto;
	}

	.barinfo,
  .email {
		display: none;
	}

	.dl-menuwrapper {
		display: block;
		margin-top: 43px;
		float: right;
	}

	.voluntree-info figure {
		width: 100%;
	}

	.team-network li {
		margin-bottom: 10px;
	}

	.post-info li {
		float: none;
		padding: 0px;
	}

	.post-info,
  .icons span {
		float: none;
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.funding-full .editor h2 {
		margin-bottom: 30px;
	}

	.coueses-list .couses-donate-btn {
		float: none;
	}

	.coueses-list,
  .couses-options {
		float: none;
		display: inline-block;
		text-align: center;
	}

	.couses-options li {
		width: 100%;
		padding: 0px;
		margin-bottom: 10px;
	}

	.postsection .inner-post.thcolorhover,
  .postsection {
		text-align: center;
		width: 100%;
	}

	.postsection a {
		float: none;
		display: block;
		margin-bottom: 10px;
	}

	.editor .left-spacer,
  .blog-full .blog-info {
		clear: both;
		padding: 0px;
	}

	.postoption .blog-info.blog-date {
		margin-bottom: 15px;
	}

	#footer-widget .widget-bg-footer:before {
		width: 0px;
	}

	.countdown .item {
		width: 22.2%;
	}

	.admin-info h4:before {
		right: 0;
		margin: auto;
	}

	.admin-post figure {
		float: none;
		display: inline-block;
		text-align: center;
	}

	.admin-post .admin-info {
		padding: 0px !important;
	}

	.admin-post,
  .admin-post .admin-info {
		float: none;
		display: block;
		text-align: center;
		clear: both;
	}

	.countdown .item span {
		width: 43px;
	}

	.breadcrumb {
		float: none;
		display: inline-block;
		text-align: center;
	}

	.subheader.subheader-height {
		height: auto;
		padding: 30px 0px;
		display: block;
		text-align: center;
	}

	.innsec ul li.map-event,
  .innsec ul li.image-event {
		width: 100%;
	}

	.event-cell.short-info {
		width: auto;
	}

	.event-cell {
		display: block;
	}

	.header-9 .kf-cart-options .cart-itmes,
  .widget_shopping_cart_content,
  .social-icons {
		width: 100%;
	}

	.kf-cart-options .top-nav ul,
  .kf-cart-options .cart-itmes,
  .social-icons ul {
		text-align: center;
	}

	.kf-cart-options .cart-itmes,
  .kf-cart-options .top-nav ul,
  .kf-cart-options .cart-itmes p,
  .kf-cart-options .top-nav ul li,
  .social-icons ul li {
		float: none;
		display: inline-block;
	}

	.kf-cart-options .top-nav {
		margin: 0px;
	}

	.navigation {
		display: none;
	}

	.header-9 .logo-container .container {
		padding: 30px 15px;
	}

	.kf-services {
		margin-bottom: 30px;
	}

	.caption .caption-title {
		font-size: 20px;
		margin: 0px 0px 5px 0px;
	}

	.caption .caption-text {
		font-size: 12px;
		margin: 0px 0px 5px 0px;
	}

	.caption .linksection {
		font-size: 12px;
		padding: 5px 10px;
		margin: 0px;
	}

	.dl-menuwrapper {
		margin: 16px 0;
	}

	.headbar {
		border: none;
	}

	.headbar .logo {
		margin: 10px;
		width: 140px;
	}

	.rightsection {
		padding: 0px;
	}

	.caption {
		bottom: 10px;
	}

	.donate-btn {
		display: none;
	}

	.shipping-services {
		margin-bottom: 15px;
	}

	.heading-1 h2,
  .heading-2 h2,
  .heading-3 h2 {
		padding: 0px 0px 10px 0px;
	}

	.heading-1 h2::before,
  .heading-1 h2::after,
  .heading-2 h2::before {
		content: none;
	}

	.kd-call-action h2,
  .discount-2 h2,
  .discount-3 h2,
  .children-discount h2 {
		font-size: 30px;
	}

	.kd-call-action h4 {
		font-size: 25px;
	}

	.kd-call-action .action-btn {
		padding: 10px 15px;
		font-size: 12px;
		display: inline-block;
	}

	.btn-contain-action {
		margin-top: 15px;
	}

	.social-contacts {
		width: 100%;
		border: none;
	}

	.social-contacts h2 {
		float: none;
	}

	.social-contacts ul {
		float: none;
		margin: 0px;
		padding: 0px;
	}

	.social-contacts .icon-text p {
		float: none;
	}

	.footer-2 .container .row .col-md-2:first-child {
		width: 100%;
	}

	.owl-buttons {
		position: relative;
		width: 40px;
		margin: 0 auto;
		float: none;
	}

	.kf-copyright {
		text-align: center;
	}

	.kf-copyright .pull-left,
  .kf-copyright .pull-right {
		float: none !important;
		display: inline-block;
	}

	.kf-copyright .pull-left {
		margin-bottom: 15px;
	}

	.header-1 .dl-menuwrapper {
		float: right;
		margin-top: 30px;
	}

	.header-1 .logo {
		margin-bottom: 30px;
		margin-right: 32px;
	}

	.header-1 .bag-button {
		text-align: center;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}

	.header-1 .container .pull-left {
		float: none !important;
		display: none;
	}

	.header-1 .top-strip-links ul li {
		margin: 0;
	}

	.header-1 .top-strip-links ul li a {
		margin-right: 10px;
	}

	.header-1 .top-strip-links {
		text-align: center;
		width: 100%;
	}

	.full-size-wrapper .bx-controls-direction {
		display: none;
	}

	.header-5 .navigation-3 .navigation {
		margin: 15px 0 0;
	}

	.header-4 .woocommerce.cart-option {
		margin: 0px;
		float: none;
		width: 100%;
		text-align: center;
	}

	.header-3 ul.top-nav li,
  .header-4 ul.top-nav li {
		float: none;
		text-align: center;
		margin-left: 12px;
		display: inline-block;
	}

	.header-3 ul.top-nav,
  .header-4 ul.top-nav {
		text-align: center;
		float: none;
	}

	.header-3 ul.we-ship,
  .header-4 ul.we-ship {
		width: 100%;
		text-align: center;
		display: none;
	}

	.header-3 ul.we-ship li,
  .header-4 ul.we-ship li {
		float: none;
		text-align: center;
	}

	.header-4 .dl-menuwrapper {
		margin-top: 100px;
		position: relative;
		text-align: center;
		float: none;
	}

	.header-4 .dl-menuwrapper .dl-menu {
		float: left;
		text-align: left;
	}

	.header-9 .our-services .text,
  .header-3 .our-services .text,
  .header-4 .our-services .text {
		margin-top: 10px;
	}

	.header-9 .our-services,
  .header-3 .our-services {
		margin-top: 15px;
	}

	.header-style-2.subheader {
		padding: 80px 0;
	}

	.header-1.header-7 .dl-menuwrapper {
		display: inline-block;
		float: right;
		margin-top: 22px;
		text-align: center;
	}

	.header-3 .nav-container .col-md-9 {
		float: right;
	}

	.header-3 .nav-container .col-md-3 {
		float: left;
	}

	.header-3 .logo-container .col-md-3 {
		width: 100%;
		text-align: center;
	}

	.header-9 .kf-services-container {
		display: none;
	}

	.header-3 .logo-container .our-services {
		display: none;
	}

	.header-3 .logo-container .logo {
		margin: 0px;
		width: 100%;
	}

	.header-3 .dl-menuwrapper {
		margin: 0px;
	}

	.header-5 .my-account {
		width: 100%;
		float: none;
		display: block;
		text-align: center;
	}

	.header-5 .my-account ul {
		float: none;
		display: block;
	}

	.header-5 .my-account ul li {
		float: none;
		display: inline-block;
		margin: 0px 10px 0px 0px;
	}

	.header-5 .my-account ul li:first-child {
		margin: 0px 10px 0px 0px;
	}

	.header-5 .cart-option {
		margin: 10px 0px 10px 0px;
		float: none;
	}

	.header-5 .default-msg {
		display: none;
	}

	.header-8 .top-strip-links ul li:first-child {
		margin: none;
	}

	.header-8 .top-strip-links,
  .header-8 .top-strip-links ul {
		float: none;
		text-align: center;
	}

	.header-8 .top-strip-links ul li {
		margin-right: 10px;
		display: inline-block;
		float: none;
		margin-left: 0px;
	}

	.header-8 .top-strip .container .pull-left {
		display: none;
	}

	.header-8 .kf-bag-items {
		width: 100%;
		float: none;
		text-align: center;
		margin: 0px;
	}

	.header-8 .kf-bag-items .thumb {
		float: none;
	}

	.header-8 .logo-container .col-md-3 {
		width: 100%;
		float: left;
	}

	.header-8 .nav-container .col-md-9 {
		float: right;
	}

	.header-8 .nav-container .col-md-3 {
		float: left;
	}

	.header-8 .logo {
		width: 100%;
		float: none;
		text-align: center;
	}

	.header-8 .dl-menuwrapper {
		margin: 10px 0px;
	}

	.strip-info i {
		display: none;
	}

	.strip-info li {
		margin: 0px 15px 0px 0px;
		font-size: 12px;
	}

	.team-network {
		float: left;
		width: 100%;
		text-align: center;
		margin: 10px 0px 0px 0px;
	}

	.team-network li {
		float: none;
		display: inline-block;
	}

	.kd-accordion .accordion {
		font-size: 12px !important;
		padding: 10px !important;
	}

	.kd-accordion .accordion span {
		width: 30px !important;
		padding: 12px 0 0 !important;
	}

	.maintitle h3 {
		font-size: 30px !important;
	}

	.widget.sidebar-element {
		padding: 0px 20px;
		float: left;
		width: 100%;
	}

	#footer-widget .widget-text p {
		color: #fff;
	}

	.blog-list.mediium-blog figure {
		float: left;
		width: 100%;
	}

	.mediium-blog figure ~ .blog-info {
		padding: 20px;
		float: left;
		width: 100%;
	}

	.widget_kode_contact_widget span,
  .widget_kode_contact_widget a {
		text-align: center;
		margin-bottom: 20px;
	}

	.kode_logo_2 {
		width: 100%;
		text-align: center;
	}

	.kode_logo_2 .logo {
		float: none;
		display: block;
	}

	.kode_heart {
		float: left;
		margin: 10px 0px 0px 0px;
	}

	.kode_header_2 .dl-menuwrapper {
		margin: 10px 0px 0px 0px;
		float: right;
	}

	.kode_contact_icon,
  .kode_loc {
		width: 100%;
		float: left;
		text-align: center;
	}

	.strip-info,
  .strip-info {
		float: left;
		width: 100%;
		text-align: center;
	}

	.strip-info li,
  .strip-info li {
		display: inline-block;
		float: none !important;
	}

	.kode_header_7 .dl-menuwrapper {
		margin: 11px 0px;
	}

	#header-style-3 .col-md-4 {
		width: 100%;
		float: left;
	}

	#header-style-3 .donate-btn {
		display: block;
	}

	#header-style-3 .kode_logo {
		margin-bottom: 15px;
	}

	#header-style-3 .kode_loc {
		display: none;
	}

	.topbar-menu .row .col-md-6 {
		width: 100%;
		float: left;
	}

	.topbar-menu:before,
  .topbar-menu:after,
  .topbar-menu .bx-wrapper {
		display: none;
	}

	.caption {
		bottom: 60px;
	}

	.team-thumb {
		width: 100%;
	}

	.team-list figure figcaption {
		width: 100%;
		float: left;
		width: 100%;
		text-align: center;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 20px;
	}

	.team-list .modren-btn {
		float: none;
		display: inline-block;
	}

	.team-list figure figcaption h2 {
		text-align: center;
	}

	.team-list .team-network-kick {
		float: none;
		margin: 0px 0px 20px 0px;
		width: 100%;
		text-align: center;
	}

	.team-list .team-network-kick li {
		float: none;
		display: inline-block;
	}

	.testimonials-6 .text p {
		font-size: 16px;
	}

	.countdown-section {
		margin: 0px 10px;
	}

	.countdown-amount {
		height: 70px;
		width: 70px;
		font-size: 36px;
	}

	.countdown-amount::before {
		border-top-width: 60px;
		border-right-width: 70px;
		top: -10px;
	}

	.countdown-period {
		font-size: 14px;
	}

	.team-match ul {
		margin: 40px 0px 0px 0px;
	}

	.team-match ul li.home-vs {
		margin-top: 0px;
	}

	.heading > h2 {
		font-size: 26px !important;
		line-height: 26px;
	}

	.table {
		float: left;
		width: 100%;
	}

	.partner .row .col-md-3 {
		margin: 0px 0px 10px 0px;
		width: 100%;
	}

	.testimonials-6 .bx-wrapper .bx-controls-direction a {
		left: 15px;
	}

	.testimonials-6 .bx-wrapper .bx-controls-direction a.bx-next {
		right: 15px;
	}

	.partner ul.row {
		margin: 0px;
	}

	.newslatter form label::before {
		font-size: 16px;
	}

	.testimonials-6 .client-name {
		width: 24%;
	}

	.header-8,
  .subheader.subheader-height {
		padding: 10px 0px;
	}

	.subheader-height::before,
  .subheader-height::after {
		display: none;
	}

	.subheader h2 {
		margin: 0px;
		font-size: 20px !important;
	}

	.subheader {
		margin-bottom: 20px;
	}

	.result-thumb ~ .result-info {
		padding: 0 100px 0 0;
	}

	.result-list article.even .result-thumb ~ .result-info {
		padding: 0 0 0 100px;
	}

	.team-match ul li {
		padding: 0px;
	}

	.newslatter h3 {
		font-size: 22px !important;
		margin-bottom: 15px;
	}

	.player-nav li a {
		font-size: 14px;
	}

	.caption .caption-title {
		font-size: 14px;
	}

	.caption {
		padding: 0px 30px;
	}

	.result-info h2 {
		font-size: 15px !important;
	}

	.countdown-period {
		font-size: 10px;
	}

	.countdown-amount {
		height: 50px;
		width: 50px;
		font-size: 28px;
	}

	.countdown-amount:before {
		border-top-width: 40px;
		border-right-width: 70px;
		top: -10px;
	}

	.team-match ul li {
		margin-left: 10px;
	}

	.team-match ul li .modren-btn {
		font-size: 22px;
		padding: 5px 7px;
	}

	.team-match ul li.home-vs {
		margin-top: 30px;
	}

	.subtitle {
		font-size: 14px;
		width: 100%;
	}

	.fa-3x {
		font-size: 2em;
	}

	.kd-counter span {
		font-size: 30px;
	}

	.kd-counter {
		margin-bottom: 30px;
	}

	.kd-counter small {
		font-size: 12px;
	}

	.partner .row .col-md-3 {
		width: 24.933%;
		margin: 0px;
	}

	.kd-login-title {
		padding: 25px 25px 0;
	}

	.kd-loginbox form {
		padding: 0px 25px;
	}

	.kd-login-title span {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.kd-login-title h2 {
		font-size: 20px !important;
	}

	.kd-login-network ul li {
		margin-bottom: 10px;
	}

	.shop-list .owl-nav {
		top: -34px;
	}

	#bbpress-forums li.bbp-header ul.forum-titles li {
		font-size: 10px;
		padding: 10px;
		font-weight: normal;
	}

	#bbpress-forums li.bbp-body ul li {
		padding: 10px;
	}

	li.bbp-forum-info,
  li.bbp-topic-title {
		width: 36%;
	}

	li.bbp-forum-topic-count,
  li.bbp-topic-voice-count,
  li.bbp-forum-reply-count,
  li.bbp-topic-reply-count {
		width: 17%;
	}

	li.bbp-forum-freshness,
  li.bbp-topic-freshness {
		width: 30%;
	}

	.bbp-author-avatar {
		display: block;
	}

	.bbp-author-avatar img {
		width: 50px;
		height: 50px;
	}

	#buddypress div.pagination {
		margin-bottom: 30px;
	}

	#groups-directory-form div.item-list-tabs,
  #members-directory-form .item-list-tabs {
		width: 100%;
	}

	#buddypress div.item-list-tabs ul li {
		float: left;
		width: 100%;
	}

	#buddypress div.item-list-tabs ul li a span {
		float: right;
		margin: 0px;
	}

	#buddypress div.dir-search input[type="submit"] {
		width: 100%;
	}

	#buddypress div.item-list-tabs ul li.last select {
		width: 100%;
		max-width: inherit;
	}

	.strip-info li {
		float: left;
		width: 100%;
		margin-bottom: 10px;
		text-align: left;
	}

	.simple-form {
		padding: 0px 15px;
	}

	.kd-testimonial p {
		font-size: 14px !important;
	}

	.kd-testimonial .bx-wrapper li {
		padding: 0px 50px !important;
	}

	.kd-testimonial i {
		font-size: 50px;
	}

	.table thead th:nth-child(2),
  .table tbody td:nth-child(2),
  .table thead th:nth-child(4),
  .table tbody td:nth-child(4),
  .table thead th:nth-child(6),
  .table tbody td:nth-child(6),
  .table thead th:nth-child(8),
  .table tbody td:nth-child(8) {
		display: none;
	}

	.is-countdown {
		margin: 10px 0px 0px 0px;
	}

	.widget.sidebar-element {
		padding: 0px;
		float: left;
		width: 100%;
	}

	.testimonials-6 .bx-wrapper .bxslider > li {
		padding: 0px;
	}

	.widget-tabnav li:fist-child {
		margin: 0px;
	}

	ul.match-widget {
		padding: 0px;
	}

	.widget.sidebar-element {
		padding: 0px;
	}

	.video-section {
		padding: 60px 0px !important;
	}
}