* {
	padding: 0px;
	margin: 0px;
}

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
img.alignright {
	margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

/* TopBaar */
.topbar {
	float: left;
	width: 100%;
	background-color: #222126;
	font-size: 16px;
	padding: 7px 0px;
	position: relative;
	height: 90px;
}

.topbar:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 27%;
}

.barinfo {
	float: left;
	color: #ffffff;
}

.barinfo i,
.email i {
	width: 28px;
	height: 28px;
	border: 1px solid #ffffff;
	border-radius: 100%;
	color: #ffffff;
	text-align: center;
	padding: 5px 0px 0px 0px;
	margin-right: 12px;
	font-size: 15px;
}

.email {
	float: left;
	color: #ffffff;
}

.team-network {
	float: right;
	margin: 0px;
	padding: 0px;
}

.team-network li {
	list-style: none;
	float: left;
	margin: 0px 0px 0px 5px;
}

.header-two .team-network li {
	margin: 0px 0px 0px 20px;
}

.team-network li a i {
	float: left;
	width: 30px;
	height: 30px;
	color: #ffffff;
	border: 1px solid #ffffff;
	text-align: center;
	border-radius: 100%;
	padding: 6px 0px 0px 0px;
}

.team-network li a {
	float: left;
	width: 30px;
	height: 30px;
	border: 1px solid #ffffff;
	text-align: center;
	padding: 6px 0px 0px 0px;
}

.team-network li a:hover {
	color: #ffffff;
}

/* Header Baar */
.header-absolute {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 999999;
}

.content-wrapper {
	width: 100%;
	float: left;
	overflow: hidden;
}

.header-pagebuilder .headbar {
	margin-top: 0px;
}

.header-pagebuilder .header-absolute {
	position: relative;
}

.header-pagebuilder .topbar {
	height: 42px;
}

.headbar {
	float: left;
	width: 100%;
	background: #ffffff;
	margin-top: -46px;
	position: relative;
	border-bottom: 2px solid #222126;
}

.logo {
	float: left;
	margin: 13px 0px 13px 15px;
}

/* Navigation */
.rightsection {
	float: right;
	padding-right: 15px;
	width: 100%;
}

.navbar-collapse {
	padding: 0px;
}

.navbar-default {
	background: none;
	border: none;
	margin: 0px;
	float: left;
}

.navigation ul {
	margin: 0px;
}

.navigation .menu ul > li > a {
	color: #666;
}

.navigation li,
.navigation .menu ul li,
.navbar-default .navbar-nav li {
	list-style: none;
}

.navigation .menu ul li a,
.navigation li a {
	display: block;
}

.navigation > li:hover > a,
.navbar-default .navbar-nav > li:hover > a {
	color: #fff;
}

.navigation .menu ul li a,
.navigation ul > li > a,
.navbar-nav > li > a {
	padding: 35px 14px 31px 14px;
	font-size: 14px;
	color: #666;
	text-transform: uppercase;
	position: relative;
}

.navigation ul > li {
	position: relative;
	float: left;
}

.navigation ul li a {
	display: block;
}

.navigation .menu ul li:hover:before,
.navigation ul > li:hover:before,
.navbar-nav > li:hover:before {
	opacity: 1;
	height: 100%;
}

.navigation .menu .sub-menu .sub-menu .sub-menu,
.navigation .menu .sub-menu,
.navigation .sub-menu,
.navigation .children,
.navbar-nav .children {
	position: absolute;
	left: 0px;
	top: 100%;
	background-color: #222126;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
	min-width: 200px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.navigation .menu ul li:hover > .sub-menu li:hover > .sub-menu,
.navigation .menu > .sub-menu li:hover > .sub-menu li:hover > .sub-menu,
.navigation .menu ul li:hover > .sub-menu,
.navigation .menu > .sub-menu li:hover > .sub-menu,
.navigation ul li:hover > .sub-menu,
.navigation .sub-menu li:hover > .sub-menu,
.navbar-nav > li:hover > .children,
.navbar-nav .children > li:hover > .children {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.navigation .menu .sub-menu li,
.navigation .sub-menu li,
.navbar-nav .children li {
	position: relative;
	float: left;
	width: 100%;
}

.navigation .menu .sub-menu li a,
.navigation .sub-menu li a,
.navbar-nav .children li a {
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	width: 210px;
	padding: 12px 15px;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
	display: block;
}

.navigation .menu .sub-menu li a:before,
.navigation .sub-menu li a:before,
.navbar-nav .children li a:before {
	content: "\f105";
	font-family: FontAwesome;
	display: inline-block;
	padding: 0px 14px 0px 0px;
}

.navigation .menu .sub-menu .sub-menu .sub-menu,
.navigation .menu .sub-menu .sub-menu,
.navigation .sub-menu .sub-menu,
.navbar-nav .children .children {
	top: 0;
	left: 100%;
	margin: 0px;
}

.navigation .menu .sub-menu > li:hover > a,
.navigation .sub-menu > li:hover > a,
.sub-menu > li:hover > a:before,
.navbar-nav .children > li:hover > a,
.children > li:hover > a:before {
	color: #000;
}

#header-style-3 .donate-btn {
	padding: 10px 15px;
}

.donate-btn {
	float: right;
	padding: 10px 30px;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 4px;
	font-weight: bold;
	margin: 23px 0px 0px 10px;
	position: relative;
}

.donate-btn:hover {
	opacity: 0.7;
}

/* Accordion Setup */
.kd-accordion {
	float: left;
	width: 100%;
	margin-bottom: 25px;
}

.kd-accordion .accordion {
	display: inline-block;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #e2e2e2;
	padding: 15px 20px;
	color: #777777;
	font-size: 16px;
	margin: 0px 0px 15px 0px;
	position: relative;
}

.kd-accordion .accordion.accordion-open {
	background-color: #49b424;
	color: #ffffff;
}

.kd-accordion .accordion.accordion-open span {
	color: #ffffff;
	border-left: none;
}

.kd-accordion .accordion p {
	margin: 0px;
}

.kd-accordion .accordion span {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50px;
	height: 100%;
	color: #777777;
	border-left: 1px solid #e2e2e2;
	font-size: 16px;
	padding: 18px 0px 0px 0px;
	text-align: center;
}

.kd-accordion .accordion.accordion-open span:before {
	content: "\f106";
}

.accordion-content .accordian-fram {
	padding: 20px;
	border: 1px solid #e2e2e2;
	border-top: none;
	margin-top: -15px;
	margin-bottom: 15px;
}

.accordian-fram,
.accordian-fram .ac-thumb img {
	float: left;
	width: 100%;
}

.accordian-fram .ac-thumb {
	float: left;
	width: 195px;
}

.accordian-fram .ac-thumb ~ .ac-info {
	padding: 0px 0px 0px 215px;
}

.ac-info .donate-btn {
	margin: 0px;
}

.ac-info p {
	margin-bottom: 20px;
}

/* Call Action */
.main-action {
	float: left;
	width: 100%;
}

.main-action span {
	float: left;
	width: 70%;
	font-size: 30px;
	color: #ffffff;
	text-transform: uppercase;
}

.main-action span strong {
	color: #333;
}

.main-action a {
	float: right;
	background-color: #222126;
	text-transform: uppercase;
	color: #ffffff;
	padding: 0px 18px 0px 0px;
	border-radius: 40px;
	line-height: 47px;
	font-weight: 600;
	margin-top: 25px;
}

.main-action a:hover {
	opacity: 0.7;
}

.main-action a i {
	float: left;
	width: 47px;
	height: 47px;
	color: #333;
	background-color: #ffffff;
	border-radius: 100%;
	font-size: 22px;
	text-align: center;
	padding: 12px 0px 0px 0px;
	margin-right: 15px;
}

/* Classic Call To Action */
.classic-action {
	float: left;
	width: 100%;
}

.classic-action h2 {
	color: #ffffff;
	text-transform: uppercase;
	display: inline-block;
}

.classic-action h2 i {
	margin-right: 12px;
}

.actionbtn {
	float: right;
}

.actionbtn a {
	float: left;
	padding: 10px 20px;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 4px;
	margin-left: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

.actionbtn a:hover {
	background-color: #ffffff;
}

/* Parallex Background */
.video-parallex {
	float: left;
	width: 100%;
	text-align: center;
}

.video-parallex h2 strong {
	color: #ffffff;
}

.video-parallex h2 {
	color: #ffffff;
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.video-parallex span {
	font-size: 20px;
	color: #ffffff;
	display: inline-block;
	margin-bottom: 35px;
}

.play {
	display: inline-block;
	width: 82px;
	height: 82px;
	background-color: #ffffff;
	color: #292827;
	border-radius: 100%;
	border: 6px solid #000;
	box-shadow: 0px 0px 0px 2px #fff;
	padding: 15px 0 0 7px;
	font-size: 30px;
	margin-bottom: 35px;
}

.parallex-more-btn {
	display: inline-block;
	padding: 10px 35px 12px 35px;
	color: #000;
	background-color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 3px;
}

.kode_top_strip .logo {
	float: none;
}

.kode_top_strip {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 30px 0px;
}

/*location Style*/
.kode_loc {
	float: left;
	padding-top: 20px;
}

/*Logo Style*/
.kode_logo {
	width: 100%;
	text-align: center;
}

.kode_logo a {
	display: block;
}

/*Social Icon Style*/
.kode_social_icon {
	width: 100%;
	float: right;
	padding-top: 20px;
	text-align: center;
}

ul.kode_social_icon li {
	float: right;
}

/*
    =============================
       Header 2 Style
    =============================
*/
.kode_top_strip2 {
	width: 100%;
	float: left;
	background-color: #e9d10b;
	padding: 10px 0px;
}

.kode_top_strip2 .kode_loc {
	padding: 0px;
}

.kode_contact_icon {
	float: right;
}

.kode_contact_icon ul li {
	float: right;
	padding: 0px 12px;
	font-size: 16px;
}

.kode_contact_icon ul li i {
	margin-right: 10px;
}

.kode_contact_icon ul li:first-child {
	padding-right: 0px;
}

/*Logo Here*/
.kode_logo_2 {
	float: left;
	width: 275px;
}

.kode_logo_2 a {
	display: block;
}

/*Navigation Style*/
.kode_header_2 .kode_nav_1 .navbar {
	float: right;
}

.kode_header_2 .kode_nav_1 {
	float: left;
	padding: 15px 0px;
	background-color: #fff;
	box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.23);
	width: 100%;
}

#header-style-3 {
	position: relative;
	z-index: 9999999;
}

.kode_header_2 .kode_nav_1 .navigation-wrapper {
	float: right;
}

#header-style-3 .logo {
	margin-left: auto;
}

.kode_heart {
	float: right;
	margin: 27px 0px 0px 10px;
}

.kode_header_2 .dl-menuwrapper {
	margin: 26px 0px;
}

.dl-menuwrapper .dl-menu {
	z-index: 100;
}

.kode_heart a {
	display: inline-block;
	color: #fff;
	background-color: #e9d10b;
	width: 37px;
	height: 37px;
	text-align: center;
	border-radius: 4px;
}

.kode_heart i {
	padding-top: 13px;
	color: #fff;
}

/*
    =============================
       Header 5 Style
    =============================
*/
.kode_header_5 .kode_top_strip2 {
	background-color: #fff;
	padding: 0px;
	border-bottom: 1px solid #d3d3d3;
}

.kode_coun {
	float: left;
}

.kode_coun .dropdown,
.dropup {
	float: left;
	padding: 19px 5px 0px 0px;
}

.kode_coun .btn-default {
	background: none;
	border: 0px;
	color: #2b2b2b;
	font-weight: bold;
	padding: 0px 10px;
}

.kode_coun .btn-default i {
	margin-left: 10px;
}

.kode_coun .btn-default.active,
.kode_coun .btn-default:active,
.kode_coun .open > .dropdown-toggle.btn-default {
	background-color: #f37936;
	border: 0px;
	color: #fff;
}

.kode_coun .dropdown-menu > li > a:focus,
.kode_coun .dropdown-menu > li > a:hover {
	color: #fff;
	background-color: #f37936;
}

.kode_coun p {
	margin: 0px;
	float: left;
	padding: 20px 0px 18px 20px;
	border-left: 1px solid #dcdcdc;
}

.kode_coun p span {
	display: inline-block;
	color: #f37936;
}

/*Social Icon Style*/
.kode_header_5 .kode_social_icon {
	float: right;
	width: auto;
	padding: 18px 0px 0px;
}

.kode_header_5 ul.kode_social_icon li a {
	color: #666666;
	padding: 0px 20px;
	margin: 0px;
}

.kode_header_5 ul.kode_social_icon li a i {
	border: 0px;
	width: 0px;
	height: 0px;
	color: #666;
	float: none;
	border-radius: none;
}

.kode_header_5 ul.kode_social_icon li:hover a i,
.kode_cart_wrap ul li:hover a {
	color: #f37936;
}

/*Cart Text Style*/
.kode_cart_wrap {
	float: right;
}

.kode_cart_wrap ul li {
	float: right;
	padding: 21px 21px;
	color: #2b2b2b;
	border-right: 1px solid #dcdcdc;
	list-style: none;
}

.kode_cart_wrap ul li a i {
	margin-right: 10px;
}

/*Logo Style*/
.kode_header_5 .kode_logo_2 {
	width: 240px;
	padding: 11px 0px 0px 0px;
}

/*Navigation Style Start*/
.kode_header_5 .kode_nav_1 {
	background-color: #fff;
	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.23);
}

.kode_header_5 .kode_nav_1 .navbar {
	float: left;
}

.kode_header_5 .kode_nav_1 ul li a {
	font-weight: normal;
	padding: 40px 18px;
	font-size: 14px;
	margin-top: -2px;
	border-top: 1px solid transparent;
}

.kode_header_5 {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 999999;
}

.kode_header_2 {
	position: relative;
}

.kode_header_5 .kode_nav_1 ul li:hover a {
	color: #333;
}

.kode_header_5 .kode_nav_1 .navbar-default .navbar-nav > li.active > a,
.kode_header_5 .kode_nav_1 .navbar-default .navbar-nav > li > a:focus,
.kode_header_5 .kode_nav_1 .navbar-default .navbar-nav > li > a:hover {
	color: #f37936;
	border-top: 1px solid #f37936;
}

/*Search Style*/
.kode_search {
	float: right;
}

.kode_search a {
	color: #2b2b2b;
	font-size: 14px;
}

/*Search Style*/
.kode_search,
.kode_cart_fill {
	float: right;
	position: relative;
}

.kode_search a,
.kode_cart_fill a {
	display: inline-block;
	color: #2b2b2b;
	font-size: 14px;
	font-weight: normal;
	padding: 36px 12px;
}

/*Cart Style*/
.kode_cart_fill span {
	position: absolute;
	color: #fff;
	background-color: #f37936;
	border-radius: 100%;
	padding: 0px 5px;
	top: 30%;
	right: 0px;
	font-size: 12px;
	font-weight: bold;
}

.navigation ul > li.last ul {
	left: auto !important;
	right: 0px;
}

.navigation ul > li.last ul ul {
	right: 100%;
}

.footer-bottom-1 {
	padding: 30px 0px;
}

.heading-4 h2 {
	padding: 0px 0px 20px 0px;
	display: inline-block;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
}

.team-section .heading-4 h2:after {
	background-color: #fff;
}

.heading-4 h2:after {
	content: "";
	height: 1px;
	width: 50px;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	bottom: 0px;
	background-color: #db2d14;
}

.heading-4 p {
	font-size: 14px;
	color: #949494;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
	font-family: 'Open Sans', sans-serif;
}

/*
    =============================
       Header 7 Style
    =============================
*/
#header-style-3 .kode_loc {
	padding-top: 35px;
}

.kode_header_7 .kode_top_eng {
	padding: 10px 0px 0px;
	border: 0px;
	position: relative;
}

#header-style-3 .kode_top_strip:before,
.kode_header_7 .kode_top_eng:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#header-style-3 .kode_top_strip,
.kode_header_7 .kode_top_eng .container,
.kode_header_7 .kode_top_eng .kode_nav_1 {
	position: relative;
}

#header-style-3 .header_sticky_nav {
	background: #fff;
}

.kode_header_7 .kode_welcome p {
	color: #fff;
}

.kode_header_7 .kode_umeed_list li {
	color: #fff;
}

.kode_header_7 .kode_select_opt .dropdown .btn-default {
	background-color: rgba(0, 0, 0, 0.17);
	color: #fff;
}

.kode_header_7 .kode_select_opt .dropdown .btn-default span {
	color: #fff;
}

/*Logo Style*/
.kode_header_7 .kode_logo {
	text-align: left;
}

/*Form Style*/
.kode_header_7 .kode_search_bar form {
	width: 100%;
}

.kode_header_7 .kode_search_bar form input[type="text"] {
	width: 100%;
	border-radius: 3px;
	height: 45px;
	border: 1px solid #fff;
}

.kode_header_7 .kode_search_bar form button {
	position: absolute;
	right: 5px;
	top: 5px;
	bottom: 5px;
	padding: 10px 15px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.kode_header_7 .kode_search_bar form a {
	background-color: #e5cd0b;
	font-size: 18px;
	height: 36px;
	padding: 5px 12px 0;
	position: absolute;
	right: 5px;
	top: 5px;
	border-radius: 3px;
}

/*Phone Style*/
.kode_header_7 .kode_ph_no {
	float: right;
}

.kode_header_7 .kode_left_thumb {
	float: right;
}

.kode_header_7 .kode_ph_no p {
	color: #fff;
}

.kode_header_7 .kode_ph_no h4 {
	color: #fff;
}

.kode_header_7 .kode_left_thumb i {
	color: #2b2b2b;
	background-color: #fff;
	border-radius: 100%;
	padding: 12px;
}

/*Navigation Style*/
.kode_header_7 .kode_nav_1 {
	background-color: #fff;
	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.23);
}

.kode_header_7 .kode_nav_1 .navbar-default .navbar-nav > li.active > a,
.kode_header_7 .kode_nav_1 .navbar-default .navbar-nav > li > a:focus,
.kode_header_7 .kode_nav_1 .navbar-default .navbar-nav > li > a:hover {
	color: #e5cd0b;
}

.kode_header_7 .kode_nav_1 .navbar-default .navbar-nav > li.active > a:before,
.kode_header_7 .kode_nav_1 .navbar-default .navbar-nav > li > a:focus:before,
.kode_header_7 .kode_nav_1 .navbar-default .navbar-nav > li > a:hover:before {
	content: "";
	position: absolute;
	top: 0;
	left: 48%;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #e5cd0b;
	margin: -1px 0px 0px -6px;
}

/*Botton Style*/
.kode_header_7 .kode_donate_btn a {
	color: #fff;
}

.kode_header_7 .kode_donate_btn a {
	display: inline-block;
	padding: 15px 18px;
}

.kode_header_7 .kode_donate_btn a i {
	margin-right: 10px;
}

.kode_header_7 .kode_donate_btn a:hover {
	background-color: #e5cd0b;
	color: #2b2b2b;
}

.kode_header_7 .navigation .menu ul li a,
.kode_header_7 .navigation ul > li > a,
.kode_header_7 .navbar-nav > li > a {
	padding: 16px 20px;
	border-top: solid 4px transparent;
	border-bottom: solid 4px transparent;
	background-color: transparent;
	color: #333;
}

.kode_header_7 .navigation .menu ul ul li a,
.kode_header_7 .navigation ul ul > li > a,
.kode_header_7 .navbar-nav ul > li > a {
	padding: 12px 15px !important;
}

.kode_header_7 .navigation ul > li.current-menu-item a {
	border-color: #333;
}

.kode_top_eng {
	float: left;
	width: 100%;
	padding: 12px 0px 0px;
	border-top: 1px solid #cfcfcf;
}

.kode_welcome {
	float: left;
}

.kode_welcome p {
	color: #8d8d8d;
	font-size: 13px;
	margin: 0px;
}

/*Select Style*/
.kode_select_opt {
	float: right;
}

.kode_select_opt .dropdown {
	margin-left: 8px;
	float: right;
}

.kode_select_opt .dropdown .btn-default {
	color: #8d8d8d;
	font-size: 13px;
}

.kode_select_opt .dropdown .btn-default span {
	color: #2b2b2b;
	display: inline-block;
	margin-left: 5px;
}

.kode_select_opt .btn-default:hover {
	background-color: #db5f4f;
	color: #fff;
}

.kode_select_opt .btn-default.active,
.kode_select_opt .btn-default:active,
.kode_select_opt .open > .dropdown-toggle.btn-default {
	background-color: #db5f4f;
	color: #fff;
}

/*Umeed List Style*/
.kode_umeed_list {
	float: right;
}

.kode_umeed_list li {
	float: right;
	color: #8d8d8d;
	padding: 0px 15px;
	border-right: 1px solid #cfcfcf;
}

.kode_umeed_list li i {
	margin-right: 10px;
}

.kode_umeed_list li:first-child {
	border: 0px;
}

/*Second Strip Style*/
.kode_sec_strip {
	padding: 30px 0px;
	float: left;
	width: 100%;
}

.kode_call {
	float: left;
	width: 100%;
	margin-top: 10px;
}

.kode_left_thumb {
	float: left;
}

.kode_left_thumb i {
	color: #2b2b2b;
	font-size: 20px;
	background-color: #f5f5f5;
	border-radius: 100%;
	padding: 12px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.23);
}

.kode_ph_no {
	float: left;
	padding: 0px 0px 0px 20px;
}

.kode_ph_no p {
	font-size: 13px;
	color: #8d8d8d;
	margin-bottom: 0px;
}

.kode_ph_no h4 {
	color: #2b2b2b;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

/*Logo Wrap Style*/
.kode_header_6 .kode_logo {
	text-align: center;
	width: auto;
	padding: 0px;
}

/*Search Bar Style*/
.kode_search_bar {
	float: left;
	width: 100%;
	padding: 15px 0px;
}

.kode_search_bar form {
	float: right;
	width: 320px;
	position: relative;
}

.kode_search_bar form input[type="text"] {
	width: 100%;
	border: 2px solid #717171;
	height: 40px;
	padding: 5px 50px 5px 15px;
	color: #2b2b2b;
}

.kode_search_bar form a {
	position: absolute;
	top: 0;
	right: 0px;
	color: #fff;
	font-size: 18px;
	background-color: #2b2b2b;
	height: 40px;
	padding: 5px 15px 0px;
}

/*Donate Now Buttn Style*/
.kode_header_7 .kode_donate_btn {
	float: right;
	margin: 6px 0px;
}

.kode_header_7 .kode_donate_btn a {
	display: inline-block;
	border: 0px;
	background-color: #2b2b2b;
	color: #e9d10b;
	padding: 15px 29px;
	line-height: normal;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.kode_header_7 .kode_donate_btn a:hover {
	background-color: #e9d10b;
	color: #2b2b2b;
}

.overflow-none {
	overflow: visible !important;
}

.margin-top-150-minus {
	margin-top: -150px;
	float: left;
	width: 100%;
}

.video-parallex {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0px;
	top: 50%;
	z-index: 99999;
}

.video-parallex h2 {
	font-size: 70px !important;
	display: inline-block;
	padding: 0px 0px 20px 0px;
	margin: 0px 0px 20px 0px;
	line-height: 70px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: solid 2px #fff;
}

.video-parallex p {
	font-size: 20px;
	color: #fff;
	margin: 0px;
}

.kode_header_7.header_sticky_nav.kf_sticky .kode_top_eng > .container {
	display: none;
}

.kode_header_7.header_sticky_nav.kf_sticky .kode_top_eng {
	padding: 0px;
}

#header-style-3 {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

#header-style-3 .navigation .menu ul li a,
#header-style-3 .navigation ul > li > a,
#header-style-3 .navbar-nav > li > a {
	padding: 20px 20px;
}

#header-style-3 .donate-btn {
	margin: 10px 0px;
}

#header-style-3 .navigation li:before {
	content: "";
	height: 10px;
	width: 1px;
	background-color: #ccc;
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -5px;
}

#header-style-3 .navigation ul ul li:before,
#header-style-3 .navigation li:first-child:before {
	display: none;
}

#header-style-3 .navigation .menu ul li a,
#header-style-3 .navigation ul ul > li > a,
#header-style-3 .navbar-nav ul > li > a {
	padding: 10px 20px;
}

.background-video.remove-pos-abs .video-bg {
	position: relative;
}

.kode_header_5 .kode_coun {
	margin: 21px 0px;
}

.white-theme .services.services-three h3 {
	color: #fff;
}

.white-theme .services.services-three p {
	color: #fff;
	font-weight: 600;
}

.white-theme .services.services-three i {
	border-color: #fff;
}

.top_slider_bxslider > li {
	list-style: none;
}

/* TopBaar Starts */
.topbar-menu {
	float: left;
	width: 100%;
	background-color: #195D10;
	position: relative;
	font-size: 13px;
	padding: 4px 0px;
}

.topbar-menu .bx-controls.bx-has-controls-direction {
	display: none;
}

.topbar-menu:before {
	content: '';
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #009C00;
	width: 50%;
	height: 100%;
}

.topbar-menu:after {
	content: '';
	position: absolute;
	right: 50%;
	top: 0px;
	border-bottom: 39px solid #009C00;
	border-left: 30px solid transparent;
}

.topbar-menu a,
.topbar-menu p,
.topbar-menu i,
.topbar-menu span {
	color: #ffffff;
}

.barinfo {
	float: left;
	padding: 5px 16px 5px 16px;
	height: 30px;
	overflow: hidden;
}

.kode_bg_white .bx-wrapper .bx-viewport {
	background: none;
}

.kode_bg_white strong {
	color: #fff;
}

.userinfo {
	float: right;
}

.userinfo li {
	list-style: none;
	display: inline-block;
	padding: 6px 11px 5px 15px;
	border-left: 1px solid rgba(255, 255, 255, 0.4);
	position: relative;
}

.userinfo li i {
	margin-right: 4px;
}

/* TopBaar Ends */
.kd-headbar-kick {
	float: left;
	width: 100%;
	background-color: #333333;
	border-bottom: 3px solid;
}

.logo {
	float: left;
	margin: 25px 0px 25px 25px;
	width: 100%;
}

.kd-headbar-kick .logo {
	transition: all 0.3s ease-in-out;
}

.kf_sticky .kd-headbar-kick .logo {
	margin: 10px 0 10px 10px;
}

.kf_sticky .navbar-nav > li > a {
	padding: 27px 14px;
}

.kf_sticky .search {
	margin: 21px -14px 0 0;
}

/* Main Header Ends */
/* Navigation Starts */
.rightsection {
	float: right;
}

.navbar-default {
	background: none;
	border: none;
	margin: 0px;
	float: left;
	display: none;
}

.navbar-default .navbar-nav li {
	list-style: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #eb1a1a;
}

.navbar-nav > li:first-child > a {
	padding-left: 0px;
}

.navbar-nav > li > a {
	padding: 42px 14px;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	overflow: hidden;
}

.navbar-nav > li > a:before {
	content: "\f106";
	font-family: FontAwesome;
	width: 18px;
	height: 9px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	border-radius: 40px 40px 0px 0px;
	color: #ffffff;
	line-height: 9px;
	font-size: 9px;
	padding: 0px 0px 0px 5px;
	z-index: 4;
	margin: 0px 0px -8px -12px;
}

.navbar-nav > li > a:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 1px;
	width: 24px;
	height: 12px;
	border: 1px solid #eb1a1a;
	border-bottom: none;
	border-radius: 40px 40px 0px 0px;
	z-index: 0;
	margin: 0px 0px -8px -15px;
}

.navbar-nav > li > a:before,
.navbar-nav > li > a:after {
	opacity: 0;
}

.navbar-nav > li:hover > a:before,
.navbar-nav > li:hover > a:after {
	opacity: 1;
	margin-bottom: 0px;
}

.navbar-nav .children {
	position: absolute;
	left: 0px;
	top: 100%;
	background-color: #333333;
	margin: 0px 0px 0px -50px;
	border-top: 1px solid;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: translateX(30px);
	-moz-transform: translateX(30px);
	-ms-transform: translateX(30px);
	-o-transform: translateX(30px);
	transform: translateX(30px);
}

.navbar-nav > li:hover > .children,
.navbar-nav .children > li:hover > .children {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.navbar-nav .children li {
	position: relative;
	float: left;
	width: 100%;
}

.navbar-nav .children li a {
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	float: left;
	width: 195px;
	padding: 7px 15px;
	border-bottom: 1px solid #3e3e3e;
}

.navbar-nav .children li a:before {
	content: "\f105";
	font-family: FontAwesome;
	display: inline-block;
	padding: 0px 14px 0px 0px;
}

.navbar-nav .children .children {
	left: 100%;
	top: 0;
	margin: 0px;
}

.navbar-nav .children > li:hover > a,
.children > li:hover > a:before {
	color: #ffffff;
}

/* Navigation Ends */
/* Header Two */
.header-two .search:before,
.header-two .search:after {
	display: none;
}

/* Header Three */
.header-three .kd-headbar {
	background: none;
	border: none;
}

.header-three .navbar-nav > li > a:after {
	display: none;
}

.header-three .navbar-nav > li > a:before {
	content: '';
	border-bottom: 2px solid #000;
	background: none;
	width: 100%;
	margin: 0px;
	left: 0px;
	bottom: 30px;
}

.cart {
	float: right;
	padding: 29px 0px 0px 0px;
}

.cart a {
	color: #ffffff;
	text-transform: uppercase;
}

.cart a i {
	width: 42px;
	height: 42px;
	color: #000;
	border-radius: 100%;
	text-align: center;
	padding: 13px 0px 0px 0px;
	margin-right: 12px;
}

/* Modal Window Starts */
.modal-dialog {
	width: 400px;
}

.modal-content {
	border-radius: 0px;
}

.modal-body {
	display: inline-block;
	width: 100%;
	padding: 15px 22px 4px 22px;
}

.modal-header h4 {
	text-transform: uppercase;
	color: #ffffff;
}

.loginform {
	display: inline-block;
	width: 100%;
}

.loginform p {
	display: inline-block;
	width: 100%;
}

.loginform p > span {
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	display: block;
	margin-bottom: 6px;
}

.loginform p input[type="text"],
.loginform p input[type="password"] {
	float: left;
	width: 100%;
	border: 1px solid #e2e2e2;
	height: 42px;
}

.loginform p label {
	float: left;
	margin: 0px;
}

.loginform p input[type="checkbox"] {
	float: left;
	margin: 7px 10px 0px 0px;
}

.loginform p label span,
.loginform p a {
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}

.loginform p a {
	float: left;
	margin: 14px 0px 0px 0px;
}

.loginform p.submit {
	padding: 18px 0px 0px 0px;
	border-top: 1px solid #dfdfdf;
}

.loginform p input[type="submit"] {
	float: right;
	padding: 5px 30px;
	color: #000;
	text-transform: uppercase;
	box-shadow: 0px 0px 0px 1px #000 inset;
	border: 7px solid;
	font-weight: bold;
}

.close {
	opacity: 0.4;
}

/* Modal Window Ends */
.search {
	float: right;
	width: 160px;
	margin: 36px -14px 0px 0px;
	position: relative;
}

.search:before {
	content: '';
	position: absolute;
	right: 0px;
	top: -14px;
	border-bottom: 14px solid #000;
	border-right: 14px solid transparent;
}

.search:after {
	content: '';
	position: absolute;
	right: 0px;
	bottom: -14px;
	border-top: 14px solid #000;
	border-right: 14px solid transparent;
}

.search input[type="text"] {
	float: left;
	width: 100%;
	border: none;
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 6px 15px 6px 15px;
	height: 29px;
	box-shadow: none;
}

/* Main Banner Starts */
#mainbanner {
	float: left;
	width: 100%;
}

#mainbanner .flex-direction-nav {
	display: none;
}

#mainbanner .container {
	position: relative;
}

.flexslider .slides .caption img {
	width: auto;
	margin-bottom: 16px;
	display: inline-block;
}

.caption {
	position: absolute;
	right: 0px;
	bottom: 130px;
	z-index: 999;
	width: 100%;
	text-align: center;
	left: 0px;
	margin: auto;
	padding: 0px 80px;
}

.position-left .caption-inner .caption {
	text-align: left;
}

.position-right .caption-inner .caption {
	text-align: right;
}

.caption .caption-title {
	font-size: 50px;
	color: #000;
	padding: 10px 30px;
	background-color: #F00;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	box-shadow: 0px 30px 20px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 30px 20px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 30px 20px 0px rgba(0, 0, 0, 0.5);
	margin-bottom: 40px;
}

.caption .caption-text {
	font-size: 20px;
	line-height: normal;
}

.caption .caption-title:before {
	content: "";
	position: absolute;
	border-bottom: 95px solid #F00;
	border-left: 50px solid transparent;
	left: -50px;
	top: 0px;
}

.caption .caption-title:after {
	content: "";
	position: absolute;
	border-bottom: 95px solid #F00;
	border-right: 50px solid transparent;
	right: -50px;
	top: 0px;
}

.caption .caption-text {
	color: #ffffff;
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
}

.linksection,
.modren-btn {
	color: #fff;
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
	padding: 6px 35px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3) inset;
	border: 7px solid #195d10;
}

.linksection:hover,
.modren-btn:hover {
	opacity: 0.7;
}

.content .pagesection.parallax {
	background-attachment: fixed !important;
}

.dark-overlay {
	position: relative;
}

.dark-overlay:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: #000;
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

/* Main Banner Ends */
/* Main Content */
.content {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}

/* Call To Action starts */
.call-action {
	float: left;
	width: 100%;
	text-align: right;
}

.call-action .simplebtn {
	float: right;
}

.simplebtn {
	display: inline-block;
	padding: 12px 40px;
	color: #ffffff;
	border: 1px solid #fff;
	font-size: 18px;
	margin: 10px 0px 0px 0px;
	position: relative;
}

.simplebtn:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

.simplebtn:hover:before {
	height: 100%;
}

.simplebtn ~ .action-info {
	padding: 0px 220px 0px 0px;
}

.action-info h2 {
	text-transform: uppercase;
}

.action-info h2,
.action-info span {
	color: #ffffff;
}

.action-info span {
	font-size: 16px;
	text-transform: uppercase;
}

/* Call To Action ends */
/* Result's starts */
.section-title {
  float: left;
  width: 100%; }

.contact-form-head {
  margin-bottom: 0px; }

.contact-form-head p {
  display: none; }

.widget-title {
  float: left;
  padding: 0 15px; }

.contact-form-sec .social-links.small {
  margin-top: 10px; }

.section-title h2,
.widget-title h2 {
  text-transform: uppercase;
  border-bottom: 1px solid;
  display: inline-block;
  padding: 0px 0px 7px 0px; }

.widget-recent-news ul li:hover time {
  color: #ffffff; }

.section-title.white h2 {
  color: #ffffff !important;
  border-bottom-color: #fff !important; }

.white.heading-12 p,
.white.heading-12 h2 {
  color: #fff !important; }

/* Result's ends */
/* Result Listing starts */
.shape-view .section-title {
	margin-bottom: 90px;
}

.result-list article {
	float: left;
	width: 100%;
	background-color: #333;
	padding: 25px 20px;
	position: relative;
	min-height: 191px;
	margin-bottom: 30px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.result-list article:before {
	content: '';
	position: absolute;
	right: 0px;
	top: -46px;
	border-top: 237px inset #fff;
	border-left: 237px inset transparent;
}

/*.result-list article:after {
  content: '';
  position: absolute;
  right: 31px;
  top: 24px;
  width: 130px;
  height: 130px;
  background-color: #333;
  border-radius: 100%;
}
*/
.result-info h2 {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #9d9d9d;
	text-transform: uppercase;
	padding: 0px 0px 12px 0px;
}

.result-info ul {
	margin: 0px;
	padding: 0px;
}

.result-info h2 div {
	color: #ffffff;
	display: inline-block;
}

.result-info h2 span {
	float: right;
	color: #ffffff;
}

.result-info ul li div,
.result-info ul li {
	float: left;
	width: 100%;
	list-style: none;
	color: #ffffff;
}

.result-info ul li span {
	float: right;
}

.result-thumb ~ .result-info {
	padding: 0px 200px 0px 0px;
}

.result-thumb {
	float: right;
	position: relative;
	z-index: 9;
	border-radius: 100%;
	overflow: hidden;
	height: 120px;
	width: 120px;
	border: solid 10px #333;
	background-color: #333;
}

.result-thumb img {
	width: 100%;
}

.result-count {
	position: absolute;
	right: 20px;
	top: -70px;
	width: 75px;
	height: 75px;
	color: #fff;
	font-size: 45px;
	text-align: center;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
}

.result-count:before {
	content: '';
	position: absolute;
	left: -7px;
	top: 0px;
	border-bottom: 24px solid #c9b005;
	border-left: 7px solid transparent;
}

.result-list article.even:before {
	right: auto;
	left: 0px;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

.result-list article.even .result-thumb ~ .result-info {
	padding: 0px 0px 0px 200px;
}

.result-list article.even .result-thumb {
	float: left;
}

.result-list article.even:after {
	right: auto;
	left: 31px;
}

.result-list article.even .result-count {
	right: auto;
	left: 20px;
}

.result-count::before {
	left: auto;
	right: -7px;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

/* Result Listing ends */
/* Shop Listing starts */
.shop-list ul li {
	list-style: none;
}

.pro-inner {
	float: left;
	width: 100%;
	border: 1px solid #868686;
	padding: 5px;
	margin-bottom: 30px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.shop-list figure,
.shop-list figure a,
.shop-list figure img {
	float: left;
	width: 100%;
	margin: 0px;
}

.shop-list figure figcaption {
	float: left;
	width: 100%;
	padding: 16px;
	background-color: #ffffff;
}

.shop-list figure figcaption h4 {
	text-transform: uppercase;
}

.pro-info {
	float: left;
	width: 100%;
	padding: 10px 16px 8px 16px;
	background-color: #373737;
}

.add_to_cart {
	display: inline-block;
	color: #ffffff;
	text-transform: uppercase;
}

.add_to_cart i {
	margin-right: 8px;
}

.added_to_cart {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 3px 13px;
	border-radius: 5px;
	color: #fff !important;
}

.pro-info span {
	float: right;
	color: #ffffff;
	font-weight: bold;
}

/* Shop Listing ends */
.team-list.team-modern figure {
	margin: 0px;
}

.widget-recent-news li {
	list-style: none;
}

.pro-inner:hover .pro-info a,
.pro-inner:hover .pro-info span {
	color: #000;
}

/* TeamListing starts */
.team-list > ul > li.clear {
	margin-bottom: 0px;
}

.team-list > ul > li {
	list-style: none;
	margin-bottom: 30px;
}

.team-list figure {
	margin-bottom: 20px;
	position: relative;
}

.team-list figure,
.team-list figure img {
	float: left;
	width: 100%;
	background-color: #000;
}

.team-thumb {
	float: left;
	width: 100%;
	border: 1px solid #d8d8d8;
}

.team-list figure:hover .team-thumb {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.team-list figure figcaption {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 10;
}

.team-list figure figcaption:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 116px;
	height: 100%;
}

.blog-grid-ux .team-network-kick {
	float: none;
	margin: 10px 0px 0px 0px;
}

.team-network-kick {
	float: right;
	margin: 0px 0px 15px 0px;
}

.fullwidth-blog .team-network-kick {
	margin: 0px 0px 0px 0px;
}

.team-network-kick li {
	list-style: none;
	display: inline-block;
	margin-right: 3px;
}

.team-list .team-network-kick li a {
	padding: 2px 0px 0px 0px;
}

.team-network-kick li a {
	display: inline-block;
	border: 1px solid #e6e6e6;
	color: #999999;
	width: 26px;
	height: 26px;
	text-align: center;
	padding: 6px 0px 0px 0px;
	background-color: #fff;
}

.team-network-kick li a:hover {
	color: #fff;
}

.detail-element .team-network-kick li a {
	padding: 5px 0px 0px 0px;
}

.team-list figure figcaption h2 {
	display: block;
	text-align: right;
	text-transform: uppercase;
	margin-bottom: 15px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.team-list figure figcaption h2 a {
	color: #ffffff;
	padding: 8px 40px 8px;
	display: block;
	box-shadow: 0px 0px 0px 1px #fff inset;
	border: 4px solid #333;
	background-color: #333;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.team-list .modren-btn {
	font-size: 14px;
	padding: 5px 18px;
	float: right;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.team-network li a:hover {
	color: #ffffff;
}

.team-modern .team-network-kick {
	float: none;
	margin-left: 0;
	text-align: center;
}

/* TeamListing ends */
/* BlogPlayer Element starts */
.blog-player {
	height: 601px;
}

.blog-player .mejs-controls {
	display: none;
}

.blog-player .mejs-container {
	height: 100% !important;
}

/* BlogPlayer Element ends */
/* Medium Blog start */
.medium-blog {
	float: left;
	width: 100%;
	background-color: #333;
	padding: 35px;
	border-left: 2px solid;
}

.medium-blog h2 {
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.medium-blog > ul > li {
	float: left;
	width: 100%;
	list-style: none;
	border-bottom: 1px solid #484848;
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 20px 0px;
}

.medium-blog > ul > li:last-child {
	margin: 0px;
}

.medium-info {
	float: left;
	width: 100%;
	margin-bottom: 14px;
}

.medium-info time {
	float: left;
	width: 80px;
	height: 63px;
	color: #333333;
	box-shadow: 0px 0px 0px 1px #9f9f9f inset;
	border: 4px solid #fff;
	background-color: #ffffff;
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	padding: 12px 0px 0px 0px;
}

.medium-info time ~ .medium-title {
	padding: 0px 0px 0px 100px;
}

.medium-title h5 a {
	color: #ffffff;
	text-transform: uppercase;
}

.blog-options {
	margin: 0px;
}

.blog-options li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	margin-bottom: 0px;
}

.blog-options li i {
	margin-right: 6px;
}

.medium-blog .blog-options li a,
.medium-blog .blog-options li,
.medium-blog p {
	color: #ffffff;
}

/* Medium Blog ends */
/* Services Css starts */
.services,
.service-info {
	float: left;
	width: 100%;
}

.services ul li {
	padding: 0px;
	list-style: none;
}

.service-info {
	background-color: #505050;
	text-align: center;
	padding: 55px 10px;
}

.service-info i {
	color: #ffffff;
	margin-bottom: 15px;
}

.service-info h2 {
	text-transform: uppercase;
	color: #ffffff;
}

/* Services Css ends */
/* Fixer Counter Css starts */
.fixer-counter {
	float: left;
	width: 100%;
	text-align: center;
}

.fixer-title {
	text-transform: uppercase;
	font-size: 48px;
}

.fixer-counter h2 {
	font-weight: lighter;
	text-transform: uppercase;
}

/* Fixer Counter Css ends */
/* Fixer countdown Css starts */
.is-countdown {
	display: inline-block;
	margin: 50px 0px 0px 0px;
}

.countdown-amount {
	background: #333333;
	color: #fff;
	display: block;
	font-size: 55px;
	font-weight: bold;
	width: 97px;
	height: 97px;
	text-align: center;
	padding: 9px 0px 0px 0px;
	margin-bottom: 15px;
	position: relative;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.countdown-amount:before {
	content: '';
	position: absolute;
	left: 0px;
	top: -20px;
	border-top: 116px solid red;
	border-right: 100px solid transparent;
	z-index: 0;
}

.countdown-amount small {
	position: relative;
}

.countdown-section {
	display: inline-block;
	margin-left: 80px;
	margin-bottom: 30px;
}

.countdown-period {
	font-size: 20px;
	color: #505050;
	font-weight: bold;
	text-transform: uppercase;
}

/* Fixer countdown Css ends */
/* Team Matches css starts */
.team-match {
	float: left;
	width: 100%;
	text-align: center;
}

.team-match ul {
	display: inline-block;
	margin: 0px 0px 35px 0px;
}

.team-match ul li {
	float: left;
	list-style: none;
	margin-left: 100px;
}

.team-match ul li.home-vs {
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.team-match ul li:first-child,
.countdown-section:first-child {
	margin-left: 0px;
}

.team-match ul li .modren-btn {
	font-size: 42px;
	padding: 15px 12px;
}

.subtitle {
	display: inline-block;
	width: 50%;
	font-size: 18px;
}

/* Team Matches css ends */
/* Match Table starts */
.table {
	border-bottom: 3px solid;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	float: left;
	width: 100%;
}

.table tr:hover {
	background: #666 !important;
}

.table thead th {
	color: #ffffff;
	border: none;
	padding: 14px;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
}

.table thead th:first-child {
	text-align: left;
}

.table tbody tr {
	background-color: #333333;
}

.table tbody tr:nth-child(even) {
	background-color: #404040;
}

.table tbody tr:nth-child(even) td {
	border: none;
}

.col-md-8.columns .match-listing .table tbody tr td {
	padding: 8px 19px;
}

.table tbody tr td {
	color: #ffffff;
	border: none;
	border-right: 1px solid #484848;
	padding: 14px;
	vertical-align: middle;
	text-align: center;
}

.table td a {
	color: #fff;
}

.table span {
	display: inline-block;
	text-align: center;
	width: 33%;
	font-size: 20px;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Match Table ends */
/* Table View two starts */
.table-v2.table tbody tr:nth-child(even) {
	background-color: #333333;
}

.table-v2.table tbody tr td {
	border: none;
}

.table-v2.table tbody tr td:first-child {
	padding: 11px 0 9px 15px;
	text-align: left;
}

.table-v2.table tbody tr td {
	padding: 3px 15px;
	text-align: center;
}

/* Table View two ends */
/* Blog Large starts */
.large-blog article,
.grid-blog article,
.fullwidth-blog article {
	margin-bottom: 45px;
}

.time-zoon {
	float: left;
	width: 100%;
	background-color: #f4f4f4;
	padding: 18px;
	position: relative;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.grid-blog .col-md-4 .blog-thumbnail iframe {
	height: 190px;
	float: left;
}

.grid-blog .col-md-3 .blog-thumbnail iframe {
	height: 138px;
	float: left;
}

.grid-blog .col-md-6 .blog-thumbnail iframe {
	height: 290px;
	float: left;
}

.time-zoon:before {
	content: '';
	position: absolute;
	left: 20%;
	top: -2px;
	right: 20px;
	height: 2px;
	background-color: #f4f4f4;
}

.large-blog article:hover .time-zoon time {
	color: #ffffff;
}

.blog-list article:hover img {
	opacity: 0.6;
}

.time-zoon time {
	float: left;
	width: 79px;
	color: #ffffff;
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
	background-color: #2f2f2f;
	padding: 10px 0px 6px 0px;
	margin-right: 18px;
	line-height: 26px;
}

.time-zoon time span {
	display: block;
	margin-top: 6px;
	font-size: 18px;
}

.time-zoon h5 {
	text-transform: uppercase;
	padding: 14px 0px 0px 0px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.blog-list figure,
.blog-list figure img {
	float: left;
	width: 100%;
	margin: 0px;
}

.blog-info {
	float: left;
	width: 100%;
	background-color: #f4f4f4;
	padding: 20px 20px 0px 20px;
	text-align: center;
	position: relative;
}

.blog-info:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0px;
	bottom: -14px;
	width: 42%;
	height: 14px;
	background-color: #f4f4f4;
	margin: auto;
}

.blog-info .team-network {
	margin: 18px 0px 0px 0px;
	float: none;
	display: inline-block;
}

.blog-btn {
	text-transform: uppercase;
}

.align-btn {
	float: left;
	width: 100%;
	text-align: center;
}

.section-container .col-md-9 .blog-grid-ux iframe {
	height: 214px;
	margin: 0px;
}

/* Blog Large ends */
/* Blog Grid View Two starts */
.grid-blog .blog-options li {
	margin-bottom: 12px;
}

.grid-blog .blog-options li a {
	color: #505050;
}

.grid-blog .blog-info,
.grid-blog .blog-info:before {
	background-color: #eaeaea;
}

.grid-blog .team-network li a {
	background-color: #ffffff;
}

.grid-blog .blog-info:before {
	border-bottom: 1px solid;
}

.modrenbtn {
	display: inline-block;
	background-color: #2a2a2a;
	color: #ffffff;
	text-transform: uppercase;
	border: 4px solid #2a2a2a;
	box-shadow: 0px 0px 0px 1px #ffffff inset;
	padding: 5px 25px;
	margin: 9px 0px 4px 0px;
}

/* Blog Grid View Two ends */
/* BlogFull Width starts */
.fullwidth-blog article:last-child {
	margin-bottom: 0px;
}

.fullwidth-blog article:last-child .blog-info {
	border: none;
	padding-bottom: 0px;
}

.fullwidth-blog .blog-info {
	text-align: left;
	background-color: #ffffff;
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #d1d1d1;
}

.fullwidth-blog .blog-info:before {
	display: none;
}

.fullwidth-blog .blog-options {
	float: left;
	padding: 4px 0px 0px 0px;
}

.fullwidth-blog .team-network {
	float: right;
	margin: 3px 0px 0px 0px;
}

.fullwidth-blog > p {
	float: left;
	padding: 13px 0px 0px 0px;
}

.fullwidth-blog .modrenbtn {
	float: left;
}

.fullwidth-blog .time-zoon:before {
	left: 50%;
	margin: 0px 0px 0px -100px;
	background-color: #a5a5a5;
}

/* BlogFull Width ends */
/* Blog Detail starts */
.editor {
	float: left;
	width: 100%;
}

.editor p {
	margin: 14px 0px;
}

blockquote {
	float: left;
	width: 100%;
	padding: 20px 20px;
	background-color: #f1f1f1;
	border-left: 3px solid;
	font-size: 15px;
	font-style: italic;
	color: #666666;
	margin: 15px 0px;
}

/* Blog Detail ends */
/* Related Blog In Detail starts */
.related-blog ul li {
	list-style: none;
	margin-bottom: 30px;
}

.related-thumb {
	border-bottom: 3px solid;
}

.related-blog,
.related-thumb,
.related-blog ul li img,
.related-text {
	float: left;
	width: 100%;
}

.related-blog ul li:hover img {
	opacity: 0.6;
}

.related-text {
	text-align: center;
	padding: 10px 0px 0px 0px;
}

.related-text h6 a {
	text-transform: uppercase;
	color: #666666;
}

/* Related Blog In Detail ends */
/* Next PrevPost starts */
.postsection {
	float: left;
	width: 100%;
	border: 1px solid #ebebeb;
	border-left: none;
	border-right: none;
	padding: 25px 0px;
	margin-bottom: 30px;
}

.postsection h6 {
	margin: 0px;
	text-transform: uppercase;
}

.postsection h6 a {
	color: #666666;
}

.postsection h6 i {
	font-size: 34px;
}

/* Admin Post starts */
.admin-post {
	float: left;
	width: 100%;
	background-color: #333333;
	padding: 24px 75px 24px 75px;
	position: relative;
	margin: 36px 0px 30px 0px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.admin-post:before {
	content: '';
	position: absolute;
	left: 0px;
	top: -36px;
	border-top: 197px solid #eb1a1a;
	border-right: 230px solid transparent;
}

.admin-post figure {
	border: 5px solid #333333;
	float: left;
	width: 110px;
	margin: 0px;
	position: relative;
	z-index: 10;
}

.admin-post figure ~ .admin-info {
	padding: 0px 0px 0px 135px;
}

.admin-info p {
	color: #ffffff;
}

.admin-info h5 {
	margin-bottom: 0px;
	text-transform: uppercase;
}

.admin-info h5 span {
	font-size: 14px;
	margin-left: 9px;
}

/* Admin Post ends */
/* Comment css starts */
#kodecomments {
	float: left;
	width: 100%;
}

#kodecomments ul ul {
	margin: 0px;
}

#kodecomments ul li {
	float: left;
	width: 100%;
	list-style: none;
}

#kodecomments > ul > li {
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 25px;
	padding-bottom: 12px;
}

#kodecomments ul li figure {
	float: left;
	background-color: #f1f1f1;
	border: 1px solid #d4d4d4;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

#kodecomments ul li figure img {
	border-radius: 0px;
}

#kodecomments ul li figure ~ .text {
	padding: 0px 0px 0px 110px;
	float: none;
	width: auto;
}

#kodecomments ul li .text h6 {
	margin: 0px;
}

#kodecomments ul li .text a {
	float: left;
}

#kodecomments ul li .text .replay-btn {
	float: none;
	display: inline-block;
	margin: 0px 0px 0px 10px;
}

#kodecomments ul li .text time {
	color: #b5b5b5;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 8px;
}

#kodecomments ul li .text p {
	margin-top: 8px;
}

#kodecomments ul li .text time i {
	margin-right: 7px;
}

#kodecomments .children li {
	margin-bottom: 0px;
}

#kodecomments .children > li {
	padding: 0px 0px 0px 150px;
}

#kodecomments ul ul.children li {
	border-top: 1px solid #ebebeb;
	margin-top: 25px;
	padding-top: 25px;
}

/* Comment css ends */
/* Comment Form css starts */
#koderespond,
#koderespond form,
#koderespond form p.kd-textarea,
#koderespond form p textarea {
	float: left;
	width: 100%;
}

#koderespond h2 {
	margin: 0px 0px 15px 0px;
	text-transform: uppercase;
}

#koderespond form p {
	float: left;
	width: 33.333%;
	padding: 0px 25px 25px 0px;
	margin: 0px;
}

#koderespond form p:nth-child(3n),
#koderespond form p.kd-textarea {
	padding-right: 0px;
}

#koderespond form input[type="text"] {
	float: left;
	width: 100%;
	border: 1px solid #dcdcdc;
	height: 40px;
	color: #666666;
	padding: 9px;
}

#koderespond form input[type="text"]:focus,
#koderespond form p textarea:focus {
	background-color: #f4f4f4;
}

#koderespond form p textarea {
	height: 170px;
	border: 1px solid #dcdcdc;
	color: #666666;
	padding: 9px;
}

#koderespond form p input[type="button"],
#koderespond form p input[type="submit"] {
	float: left;
	padding: 8px 25px;
	color: #ffffff;
	border: 6px solid;
	text-transform: uppercase;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3) inset;
}

#koderespond form p.kd-button {
	width: 100%;
}

/* Comment Form css ends */
/* Testimonial css starts */
.testimonial {
	margin: 30px 0 0;
}

.testimonial figure,
.testimonial figure img,
.testimonial {
	float: left;
	width: 100%;
}

.testimonial figure {
	padding: 16px 80px;
	background-color: #333537;
}

.testimonial ul li {
	list-style: none;
	margin-bottom: 55px;
}

.testimonial ul li .thcolor {
	color: #fff;
}

.testimonial figure:before {
	content: '';
	position: absolute;
	left: 0px;
	top: -35px;
	border-top: 194px solid #eb1a1a;
	border-right: 270px solid transparent;
	z-index: 0;
}

.testimnl-thumb {
	float: left;
	width: 137px;
	position: relative;
	border: 4px solid #333537;
}

.testimnl-thumb ~ figcaption {
	padding: 11px 0px 0px 162px;
}

.testimonial figure figcaption p {
	color: #ffffff;
}

/* Testimonial css ends */
/* Partner css starts */
.partner ul li {
	list-style: none;
	text-align: center;
	margin-bottom: 30px;
}

.partner ul li a {
	float: left;
	width: 100%;
	border: 1px solid #e2e2e2;
	box-shadow: 0px 2px 0px 0px #e2e2e2;
}

/* Partner css ends */
/* SubHeader css starts */
.subheader {
	float: left;
	width: 100%;
	background-color: #eb1a1a;
	height: 236px;
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
}

.subheader-height:before {
	content: '';
	position: absolute;
	right: 0px;
	top: 0px;
	width: 52.2%;
	height: 100%;
	background-color: #c50000;
}

.subheader-height:after {
	border-bottom: 198px solid #c50000;
	border-left: 152px solid transparent;
	bottom: 0;
	content: "";
	position: absolute;
	right: 52.2%;
}

.subheader.subheader-height {
	padding: 165px 0px 0px 0px;
}

.subheader h2 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 26px !important;
}

.breadcrumb {
	float: right;
	padding: 9px 0px 0px 0px;
}

.breadcrumb li {
	display: inline-block;
	list-style: none;
	padding: 0px 15px;
	position: relative;
	color: #fff;
}

.breadcrumb li:before {
	content: "\f101";
	font-family: FontAwesome;
	position: absolute;
	right: -5px;
	top: 0px;
	color: #ffffff;
}

.breadcrumb li:last-child {
	padding-right: 0px;
}

.breadcrumb li:last-child:before {
	display: none;
}

.breadcrumb li a {
	color: #ffffff;
}

/* SubHeader css ends */
.gallery ul li.clear {
	margin-bottom: 0px;
}

/* Gallery css starts */
.gallery ul li {
	list-style: none;
	margin-bottom: 30px;
}

.gallery ul li figure {
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	position: relative;
}

.gallery ul li figure,
.gallery ul li figure a,
.gallery ul li figure img {
	float: left;
	width: 100%;
	height: 100%;
	margin: 0px;
}

.gallery ul li figure figcaption {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding: 10px;
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.gallery ul li:hover figure figcaption {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.gallery-info {
	float: left;
	width: 100%;
	border: 1px solid #dedede;
	padding: 18px 25px;
}

.gallery-info h2 {
	text-transform: uppercase;
	margin: 0px 0px 0px 0px;
}

.gallery-info p {
	margin: 0px;
}

.gallery-hover {
	width: 100%;
	height: 100%;
	display: inline-block;
	opacity: 0.8;
}

.gallery-hover i {
	font-size: 28px;
	color: #ffffff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -12px 0px 0px -10px;
}

/* Gallery css ends */
/* Player Detail css starts */
.player-thumb {
	float: left;
	width: 100%;
	border: 1px solid #d8d8d8;
}

.detail-element {
	float: left;
	width: 100%;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding: 18px 0px 15px 0px;
	margin-bottom: 20px;
}

.detail-element .team-network {
	margin: 0px;
}

.detail-element h2 {
	text-transform: uppercase;
	display: inline-block;
	margin: 0px;
}

.table caption {
	color: #ffffff;
	padding: 7px 20px;
	font-size: 24px;
	text-transform: uppercase;
}

/* Player Detail css ends */
/* Player Tabs css starts */
.player-tabs {
	margin: 40px 0px 20px 0px;
}

.player-tabs,
.player-nav,
.player-tabs .tab-content {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.player-nav li {
	float: left;
	list-style: none;
	line-height: 1;
}

.player-nav li a {
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid #d0d0d0;
	border-bottom: none;
	padding: 14px 45px;
	float: left;
}

.player-nav li a:hover,
.player-nav li.active a {
	background-color: #CCC;
	color: #000;
}

.player-tabs .table thead th {
	padding: 14px;
	font-size: 15px;
}

.player-tabs .table tbody tr td:nth-child(2n) {
	background-color: #404040;
}

.player-tabs .table tbody tr:nth-child(2n) {
	background-color: #333333;
}

.player-tabs .table tbody tr td {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}

/* Player Tabs css ends */
/* Shop Detail css starts */
.images {
	float: left;
	width: 39%;
}

.images ul {
	float: left;
	width: 101px;
}

.images ul li {
	float: left;
	width: 100%;
	border: 1px solid #d9d9d9;
	margin-bottom: 15px;
	list-style: none;
}

.shopmainthumb {
	float: right;
	width: 70%;
	border: 1px solid #d9d9d9;
}

.summery {
	float: right;
	width: 60%;
	padding-left: 20px;
}

.summery-title {
	float: left;
	width: 100%;
	border-bottom: 1px solid #c6c6c6;
	padding-bottom: 15px;
	margin-bottom: 25px;
	position: relative;
}

.summery-title h2 {
	text-transform: uppercase;
	float: left;
	margin: 0px;
}

.priceinfo {
	float: left;
	width: 100%;
	padding: 25px 0px;
	border-bottom: 1px solid #c6c6c6;
	margin-bottom: 20px;
}

.priceinfo h2 {
	float: left;
}

.priceinfo ul {
	float: left;
	width: 70%;
}

.priceinfo ul li {
	list-style: none;
	float: left;
	width: 50%;
	padding-left: 25px;
}

.priceinfo ul li span {
	float: left;
	width: 25%;
	padding: 6px 0px 0px 0px;
}

.priceinfo ul li select {
	float: left;
	width: 75%;
}

.summery .modren-btn {
	float: left;
	width: auto;
	font-size: 20px;
}

.shop-btn {
	float: left;
}

.shop-btn a {
	float: left;
	width: 46px;
	height: 46px;
	background-color: #333333;
	color: #ffffff;
	padding: 16px 0px 0px 0px;
	margin: 0px 0px 0px 13px;
	text-align: center;
}

.shop-btn a:hover {
	color: #ffffff;
}

.shop-nav .tab-content {
	float: left;
	width: 100%;
	padding: 25px;
	border: 1px solid #dedede;
}

.shop-nav {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 0px 0px 40px 0px;
	margin: 30px 0px 25px 0px;
}

.rating {
	height: 22px;
	line-height: 16px;
	margin-right: 0;
	padding-bottom: 10px;
	position: absolute;
	right: 0px;
	top: 22px;
	width: 100px;
}

.rating:before,
.rating-box:before {
	color: #ddd;
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: 'FontAwesome';
	font-size: 16px;
	left: 0;
	letter-spacing: 4px;
	position: absolute;
	top: 0;
}

.rating-box:before {
	color: #ffae00;
}

.rating-box {
	height: 16px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
}

/* Shop Detail css ends */
/* Fixer List css starts */
.inner-fixer {
	float: left;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid;
	padding: 45px 0px;
	margin-bottom: 30px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.inner-fixer .fixer-counter h2 {
	color: #ffffff;
	padding: 15px 10px;
}

.fixer-list {
	display: table;
	width: 100%;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.fixer-list ul {
	display: table-row;
}

.fixer-list ul li {
	display: table-cell;
	vertical-align: middle;
}

.table-head li {
	padding: 15px 10px;
	text-align: center;
	width: 20%;
}

.table-head li:first-child {
	width: 32%;
}

.table-head li h5 {
	color: #ffffff;
	text-transform: uppercase;
	margin: 0px;
}

.fixer-pagination a {
	float: right;
	width: 26px;
	height: 26px;
	color: #ffffff;
	border: 1px solid #ffffff;
	margin-right: 10px;
	padding: 4px 0px 0px 0px;
	border-radius: 2px;
}

.fixer-pagination a:hover {
	background-color: #ffffff;
}

.table-body:nth-child(even) li {
	background-color: #333333;
}

.table-body:nth-child(even) li {
	border-left: 1px solid #404040;
}

.table-body li {
	text-align: center;
	background-color: #404040;
	color: #ffffff;
	padding: 25px 0px;
}

.list-thumb {
	display: inline-block;
	color: #ffffff;
}

.list-thumb img {
	margin-right: 8px;
}

.table-body li span {
	display: inline-block;
	font-size: 20px;
	width: 22%;
}

.table-body li small {
	text-transform: uppercase;
}

.fixer-btn a {
	float: right;
	padding: 3px 14px;
	color: #333333;
	background-color: #ffffff;
	margin-right: 20px;
	font-weight: bold;
}

.table-body li.fixer-btn {
	width: 26%;
}

.fixer-btn a:hover {
	color: #ffffff;
}

/* Fixer List css ends */
/* Team Detail css starts */
.icon-list {
	margin: 0px;
}

.icon-list li {
	list-style: none;
	color: #666666;
	border-bottom: 1px solid #ececec;
	padding: 7px 0px;
}

.icon-list li i {
	margin-right: 10px;
}

/* Team Detail css ends */
/* Team TimeLine View css starts */
.team-timeline {
	float: left;
	width: 100%;
	position: relative;
}

.team-timeline ul {
	margin: 0px 0px 0px -198px;
	position: relative;
}

.team-timeline ul:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 0px;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
	width: 2px;
	height: 94%;
	margin: 0px 0px 0px 98px;
}

.team-timeline ul li {
	list-style: none;
	width: 50%;
	display: inline-block;
	margin: 0px -4px 40px 0px;
	padding: 0px 0px 0px 198px;
	position: relative;
}

.timeline-inner {
	background-color: #ffffff;
	border: 1px solid #62666c;
	padding: 22px 22px 15px 22px;
	position: relative;
}

.timeline-inner:before {
	content: '';
	position: absolute;
	right: -16px;
	top: 32px;
	border-bottom: 25px solid #ffffff;
	border-right: 25px solid transparent;
}

.team-timeline ul li:nth-child(even) .timeline-inner:before {
	right: auto;
	left: -16px;
	border-top: 25px solid transparent;
	border-right: 25px solid #fff;
	border-bottom: 0px solid transparent;
}

.timeline-inner h2 {
	text-transform: uppercase;
}

.timezoon {
	width: 85px;
	height: 66px;
	font-size: 22px;
	color: #282828;
	text-transform: uppercase;
	position: absolute;
	right: -21%;
	top: 31px;
	background-color: #ffffff;
	box-shadow: 0px 0px 0px 1px #cdcdcd inset;
	border: 7px solid #ffffff;
	text-align: center;
	padding: 10px 0px 0px 0px;
}

.timeline-circle {
	width: 16px;
	height: 16px;
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	top: -15px;
	border-radius: 100%;
	margin: 0px 0px 0px -8px;
}

.bottom-circle {
	top: auto;
	bottom: 28px;
}

/* Team TimeLine View css ends */
/* Contact Us Page Css Starts */
.contactus-page {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.simple-form ul {
	float: left;
	width: 100%;
	margin: 0px;
}

.contactus-page .forminfo h3,
.contactus-page .forminfo p,
.contactus-page .form-list li strong,
.contactus-page .simple-form ul li input[type="text"],
.contactus-page .simple-form ul li textarea {
	color: #666666;
}

.contactus-page .form-list li i {
	border-color: #c4c4c4;
	color: #666666;
}

.contactus-page .forminfo h3 {
	float: left;
	margin: 0px 18px 0px 0px;
}

.map {
	float: left;
	width: 100%;
	border: 3px solid #e4e4e4;
	margin-bottom: 40px;
}

.simple-form.contact-formtwo ul {
	margin: 0px 0px 0px -28px;
}

.simple-form.contact-formtwo ul li {
	width: 33.333%;
	padding: 0px 0px 10px 28px;
}

.simple-form.contact-formtwo ul li.full-column {
	width: 100%;
}

.plain-divider {
	float: left;
	width: 100%;
	margin: 20px 0px 35px 0px;
}

.plain-divider span {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e9e9e9;
}

.innersearch {
	float: left;
	margin: 20px 0 0;
	width: 100%;
}

.innersearch form {
	display: inline-block;
	width: 350px;
	position: relative;
}

.innersearch form input[type="text"] {
	border: 1px solid #d4d4d4;
	color: #000;
	font-size: 16px;
	height: 48px !important;
	padding: 6px 20px 6px 20px;
	float: left;
	width: 100%;
	box-shadow: 0px 2px 0px 0px #d4d4d4;
}

.innersearch form label {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	margin: 0px;
}

.innersearch form label:before {
	content: "\f002";
	font-family: FontAwesome;
	position: absolute;
	right: 50%;
	top: 50%;
	color: #fff;
	cursor: pointer;
	margin: -12px -5px 0 0;
}

.innersearch form input[type="submit"] {
	float: right;
	width: 66px;
	height: 60px;
	background: none;
	border: none;
}

/* Default Pages 404 Css Ends */
/* UnderConstruction starts */
.underconstruction {
	float: left;
	width: 100%;
	text-align: center;
}

.underconstruction h2 {
	text-transform: uppercase;
	color: #ffffff;
	font-size: 60px;
}

.underconstruction span.subtitle {
	font-size: 19px;
	color: #ffffff;
	margin-bottom: 20px;
}

.underconstruction .countdown-period {
	color: #ffffff;
}

.underconstruction .innersearch form input[type="text"] {
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
}

#whats-new-textarea textarea {
	height: 150px;
}

/* UnderConstruction Ends */
/* NewsLetter  Starts */
.newslatter {
	float: left;
	width: 100%;
	padding: 30px 0px;
	position: relative;
}

.newslatter h3 {
	color: #ffffff;
	font-size: 30px !important;
	float: left;
	margin: 0px;
	font-weight: 300;
	padding-right: 20px;
}

.newslatter form {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	position: relative;
	padding-left: 20px;
}

.newslatter form input[type="text"] {
	border: 1px solid #fff;
	height: 50px !important;
	width: 100%;
	padding: 5px 15px 5px 15px;
	background: none;
	font-size: 16px;
	font-style: italic;
	color: #ffffff;
}

.newslatter form label {
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 0px;
}

.newslatter form label:before {
	content: "\f1d8";
	font-family: FontAwesome;
	position: absolute;
	right: 20px;
	top: 0px;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
	line-height: 48px;
}

.newslatter form input[type="submit"] {
	width: 50px;
	height: 50px;
	background: none;
	border: none;
}

.halfbg {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50%;
	height: 100%;
}

/* NewsLetter  Ends */
/* Contact Footer Starts */
#contact-footer {
	float: left;
	width: 100%;
	background: url(extra-images/footer-bg.jpg);
	padding: 40px 0px;
}

.simple-form {
	float: left;
	width: 100%;
}

.simple-form ul li {
	float: left;
	width: 100%;
	list-style: none;
	margin-bottom: 15px;
}

.simple-form ul li input[type="text"],
.simple-form ul li textarea {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid #c4c4c4;
	float: left;
	width: 100%;
	height: 43px;
	color: #333;
	padding: 6px 20px 6px 20px;
}

.simple-form ul li textarea {
	height: 155px;
}

.simple-form ul li input[type="submit"] {
	float: left;
	color: #ffffff;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 15px;
}

.forminfo h3 {
	text-transform: uppercase;
}

.forminfo h3,
.forminfo p,
.form-list li strong {
	color: #000;
}

.form-list li {
	color: #000;
	list-style: none;
	margin-bottom: 5px;
	position: relative;
	padding: 0px 0px 0px 45px;
}

.form-list li i {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid #000;
	margin-right: 20px;
	text-align: center;
	font-size: 18px;
	padding: 5px 0px 0px 0px;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 0px;
	top: 0px;
	color: #000;
}

.form-list li:hover i {
	color: #fff;
}

.form-list li p {
	display: inline-block;
	width: auto;
}

.forminfo .team-network {
	float: left;
}

.form-list {
	float: left;
	width: 100%;
}

.forminfo {
	float: left;
	padding: 0 15px;
	width: 100%;
}

/* Contact Footer Ends */
/* CopyRighht Section Starts */
.bottom-footer {
	float: left;
	width: 100%;
}

.bottom-footer p {
	color: #ffffff;
	padding: 12px 0px;
	margin: 0px;
}

#topbtn {
	float: right;
	color: #000;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	padding: 3px 0px 0px 0px;
	margin-top: -10px;
	position: relative;
}

#topbtn:before,
#topbtn:after {
	content: '';
	position: absolute;
	left: -6px;
	top: -1px;
	border-bottom: 11px solid #c9b005;
	border-left: 6px solid transparent;
}

#topbtn:after {
	left: auto;
	right: -6px;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

/* CopyRighht Section Ends */
/*
========================================
    PROJECT FACTS CSS Starts
========================================
*/
.project-fact {
	padding: 50px 0px;
	float: left;
	width: 100%;
}

.project-numbering {
	text-align: center;
}

.project-numbering i {
	font-size: 50px;
	color: #fff;
}

.project-numbering p {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

.project-numbering .counter {
	font-size: 60px;
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-weight: bold;
}

/*
===========================================
    PROJECT FACTS CSS Ends
===========================================
*/
/*
===========================================
    Header 8 Starts
===========================================
*/
.topbar-menu ul {
	padding: 0px;
	margin: 0px;
}

.header-8 {
	float: left;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	padding: 25px 0px;
	transition: all 0.3s ease-in-out;
	position: relative;
	z-index: 1000;
}

.header-8 .navigation {
	margin-top: 8px;
}

.kf_sticky .header-8 {
	padding: 10px 0px;
}

.header-8 .navigation ul li a {
	text-align: left;
	padding: 14px 15px;
	color: #fff;
}

.header-8 .navigation ul li a:hover {
	background-color: #fff;
	color: #666;
}

.header-8 .navigation ul ul li a {
	padding: 10px 15px;
	font-size: 12px;
}

.header-8 .navigation ul ul li {
	width: 100%;
}

.header-8 .logo {
	width: 200px;
	margin: 0px auto;
	float: none;
}

.navigation ul > li.last ul {
	left: auto !important;
	right: 0;
}

.navigation ul > li.last ul ul {
	right: 100%;
}

.header-8 .navigation.left {
	float: left;
}

.header-8 .navigation.right {
	float: right;
}

/*
===========================================
        LOGO
===========================================
*/
.logo {
	float: left;
}

.logo a {
	display: block;
}

.logo img {
	float: left;
}

.navigation {
	float: right;
}

.navigation ul {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style: none;
}

.navigation ul li {
	float: left;
	position: relative;
	list-style: none;
}

.navigation ul li a {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 15px 16px;
}

/*dropdown first level Starts*/
.navigation ul ul {
	float: left;
	width: 210px;
	position: absolute;
	left: 0px;
	top: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	visibility: hidden;
	opacity: 0;
	margin: 20px 0px 0px 0px;
	z-index: 10;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.navigation ul li:hover > ul {
	display: block;
	visibility: visible;
	opacity: 1;
	margin: 0px;
}

.navigation ul ul li {
	width: 100%;
}

.navigation ul ul li a {
	font-weight: normal;
	text-transform: inherit;
	padding: 8px 20px;
	text-transform: capitalize;
}

.navigation ul ul li a:hover {
	color: #fff;
}

.navigation ul ul ul {
	left: 100%;
	top: 0px;
}

/*dropdown first level Ends*/
/*social network CSS Starts */
.social-network {
	float: right;
	margin: 0px 0px 0px 20px;
}

.social-network ul {
	list-style: none;
	float: left;
	width: 100%;
	margin: 4px 0px;
}

.social-network ul li {
	float: left;
	margin: 0px 5px;
	list-style: none;
}

.social-network ul li a {
	display: block;
	height: 33px;
	width: 33px;
	background-color: #e5e5e5;
	color: #686868;
	font-size: 14px;
	border-radius: 100%;
	text-align: center;
	padding: 4px 0px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.social-network ul li a:hover {
	color: #fff;
	background-color: #000;
}

/*social network CSS Ends */
/*
=====================================
    PICK EVENT CSS Starts
=====================================
*/
.pick-event {
	float: left;
	background-color: #ededed;
	padding: 20px 0px;
}

.pick-event .heading {
	float: left;
	width: 20%;
	text-align: left;
}

.pick-event .heading h4 {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: #343434;
	margin: 5px 0px;
}

.pick-event .heading h2 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	margin: 6px 0px;
}

.pick-event .form {
	float: left;
	width: 80%;
}

.pick-event .form input {
	width: 100%;
	min-height: 42px;
	background-color: #fff;
	border: none;
	padding: 10px 10px;
}

.pick-event .form .cover {
	float: left;
	position: relative;
	width: 25%;
	padding: 0px 10px;
}

.pick-event .form .cover .dropdown-menu li {
	list-style: none;
}

.pick-event .form .cover .modren-btn.thbg-colortwo {
	padding: 0px 10px;
	text-align: center;
	width: 100%;
	font-size: 18px;
}

.pick-event .form .cover i {
	position: absolute;
	right: 20px;
	top: 13px;
	color: #bbbbbb;
}

.pick-event .form div.cover:first-child {
	margin-left: 0px;
}

.pick-event .form button.find {
	display: block;
	min-height: 42px;
	border: none;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 20px;
}

.pick-event .cover .dropdown button {
	min-height: 42px;
	background-color: #fff;
	width: 100%;
	border: none;
	text-align: left;
	padding: 10px 10px;
}

.pick-event .cover .dropdown .dropdown-menu {
	width: 100%;
}

/*
=====================================
    PICK EVENT CSS Ends
=====================================
*/
/*

================================

*/
/*
=============================================
      VIDEO SECTION CSS Starts
=============================================
*/
.sport-section {
	float: left;
	width: 100%;
	background-image: url(extra-images/bg-paralaxx-1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
	padding: 50px 0px;
}

.sport-section:before {
	content: "";
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
  /*background-image:url(extra-images/video-bg-pettern.png);*/;
}

.video-section {
	float: left;
	width: 100%;
	background-image: url(extra-images/slide3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
	padding: 150px 0px;
}

.video-section:before {
	content: "";
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
  /*background-image:url(extra-images/video-bg-pettern.png);*/;
}

.video-section .container {
	position: relative;
}

.video-section h2 {
	font-size: 34px;
	color: #fff;
	margin: 0px 0px 30px 0px;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.video-section h4 {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #fff;
}

.video-section p {
	text-transform: uppercase;
	color: #fff;
}

.video-section i {
	height: 62px;
	width: 62px;
	border: solid 2px #fff;
	background-color: rgba(255, 255, 255, 0.2);
	text-align: center;
	color: #fff;
	font-size: 24px;
	padding: 15px 0px;
	border-radius: 4px;
	margin: 0px 0px 20px 0px;
}

/*
=============================================
      VIDEO SECTION CSS Ends
=============================================
*/
/*HEADING STYLE 12 Css Starts*/
.heading-12 {
	position: relative;
}

.heading-12 h2 {
	margin: 0px 0px 15px 0px;
	display: inline-block;
	font-weight: bold;
	position: relative;
	padding: 0px 0px 20px 0px;
	text-transform: uppercase;
}

.heading-12 h2:before {
	content: "";
	width: 150px;
	border-bottom: dashed 1px #b7b7b7;
	height: 2px;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	bottom: 0px;
}

.heading-12 p {
	font-size: 14px;
	color: #949494;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.heading-12 span.left,
.heading-12 span.right {
	position: absolute;
	height: 9px;
	width: 9px;
	border-radius: 100%;
	background-color: #db2d14;
	position: absolute;
	left: 27%;
	bottom: -4px;
}

.heading-12 span.right {
	left: auto;
	right: 27%;
}

.heading {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.heading > h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 33px !important;
	color: #000;
	position: relative;
	font-weight: normal;
}

/*HEADING STYLE 12 Css Ends*/
/***Footer Medium Starts***/
.footer-medium {
	float: left;
	width: 100%;
}

#footer .footer-medium h3 {
	font-size: 20px;
	text-transform: uppercase;
	color: #252525;
}

/***Footer Medium Ends***/
/*about-widget Starts*/
.about-widget p {
	margin: 17px 0 0;
}

.newsletter-widget {
	float: left;
	width: 100%;
}

.newsletter-widget p {
	margin: 0 0 17px;
}

.newsletter-widget form {
	width: 100%;
	height: 40px;
	float: left;
	position: relative;
}

.newsletter-widget form [type="text"] {
	border: 1px solid #dadada;
	border-right: 0;
	font-size: 13px;
	text-transform: uppercase;
	color: #787878;
	padding: 11px 15px;
	background-color: transparent;
	float: left;
	width: 100%;
}

.newsletter-widget form [type="submit"] {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	padding: 11px 13px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
}

/*about-widget Ends*/
/***contact-us-widget starts***/
.contact-us-widget {
	float: left;
	width: 100%;
}

.contact-us-widget p {
	margin: 0 0 17px;
}

/***contact-us-widget ends***/
/***social-links starts***/
.social-links li,
.socialnetwork li {
	display: inline-block;
	margin: 0 10px 0 0;
}

.social-links li:last-child,
.socialnetwork li:last-child {
	margin: 0;
}

.social-links li a,
.socialnetwork li a {
	width: 25px;
	height: 25px;
	text-align: center;
	padding: 3px 0;
	display: block;
	font-size: 16px;
	color: #fff;
	overflow: hidden;
	position: relative;
	z-index: 11;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.social-links li a:before,
.socialnetwork li a:before {
	content: '';
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.social-links li a:hover:before,
.socialnetwork li a:hover:before {
	top: 0;
}

.fb-bg {
	background-color: #3b5997;
}

.tw-bg {
	background-color: #00aceb;
}

.youtube-bg {
	background-color: #ba0204;
}

.linkedin-bg {
	background-color: #5182aa;
}

/***social-links ends***/
/***widget-flickr css starts***/
.widget-flickr ul {
	float: left;
	width: 100%;
	margin: 0;
}

.widget-flickr ul li {
	float: left;
	margin: 0 3px 10px;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.widget-flickr ul li img {
	border-radius: 3px;
}

.table tr:hover {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

/***widget-flickr css ends***/
.team-info {
	background-color: #ffffff;
	padding: 28px 22px 22px 22px;
	text-align: center;
	position: relative;
}

.team-info h2 {
	line-height: 1;
	margin: 0px 0px 4px 0px;
	font-weight: 500;
	text-transform: uppercase;
}

.team-info h2 a,
.team-info h6,
.team-info p {
	color: #777777;
}

.team-info p {
	margin: 0px;
}

.team-network {
	float: left;
	width: 100%;
	top: 50%;
}

.team-network ul {
	display: inline-block;
	margin: 0px;
}

.team-network ul li {
	float: left;
	list-style: none;
	margin: 18px 0px 0px 18px;
	line-height: 1;
}

.team-network ul li:first-child {
	margin-left: 0px;
}

.team-network ul li a {
	color: #333;
	font-size: 20px;
}

.team-grid ul li:hover p {
	color: #ffffff;
}

/* TeamGrid Ends */
/*
=============================================
    TESTIMONIALS STYLE 6 Starts
=============================================
*/
.testimonials-6 {
	float: left;
	width: 100%;
	position: relative;
}

.testimonials-6:before {
	content: "\f10d";
	background-color: #fff;
	padding: 5px;
	font-size: 40px;
	font-family: FontAwesome;
	height: 50px;
	width: 50px;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	top: -25px;
	z-index: 10;
	text-align: center;
	color: #7dbd22;
}

.testimonials-6 ul {
	float: left;
	margin: 0px;
	width: 100%;
}

.testimonials-6 .text {
	float: left;
	width: 100%;
	text-align: center;
	border: solid 1px #eeeeee;
	padding: 40px 40px 90px;
	margin: 0px 0px 60px 0px;
	position: relative;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.testimonials-6 .text p {
	margin: 0px 0px 0px 0px;
	font-size: 20px;
	color: #666;
	font-weight: 300;
}

.testimonials-6 .thumb {
	height: 90px;
	width: 90px;
	border: solid 14px #fff;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
	display: inline-block;
}

.testimonials-6 .client-name {
	width: 15%;
	left: 0px;
	right: 0px;
	margin: auto;
	bottom: -50px;
	position: absolute;
}

.testimonials-6 .client-name h4 {
	font-size: 14px;
	font-weight: bold;
	color: #7dbd22;
	margin-bottom: 10px;
}

.testimonials-6 .bx-wrapper .bx-controls-direction a {
	margin-top: -50px;
	left: -14px;
	width: auto;
	height: auto;
}

.testimonials-6 .bx-wrapper .bx-controls-direction a i {
	color: #333;
}

.testimonials-6 .bx-wrapper .bx-controls-direction a.bx-next {
	left: auto;
	right: -14px;
}

.testimonials-6 .bx-wrapper .bxslider > li {
	padding: 0px 30px;
}

.testimonials-3 .bx-pager {
	display: none;
}

/*
=============================================
    TESTIMONIALS STYLE 6 Starts
=============================================
*/
/*

================================

*/
/*
==========================================
        HEADER 4 Starts
==========================================
*/
.header-4 {
	float: left;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.header-4 .top-strip {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 5px 0px;
	text-align: center;
}

.header-4 .logo {
	margin: 0px 20px 0px 0px;
	height: 90px;
	position: relative;
	width: 170px;
}

.header-4 .logo img {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}

.header-4 .navigation ul li a {
	padding: 35px 16px;
}

.header-4 .navigation ul li:hover > a {
	color: #fff;
}

.header-4 .navigation ul ul li a {
	padding: 10px 16px;
}

.header-4 .logo {
	float: left;
}

.header-4 .logo a {
	display: block;
}

.logo img {
	float: left;
}

.header-4 .navigation {
	float: left;
}

.header-4 .top-search {
	float: right;
	position: relative;
	margin: 25px 0px;
}

.header-4 .top-search input[type="text"] {
	float: left;
	width: 300px;
	height: 40px;
	border: solid 1px #ccc;
	padding: 6px 10px;
}

.header-4 .top-search i {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 0px;
	right: 0px;
	padding: 10px 0px;
	text-align: center;
	font-size: 16px;
	color: #000;
}

.header-4 .top-search {
	float: right;
	position: relative;
	margin: 29px 0px;
}

.header-4 .top-search input[type="text"] {
	float: left;
	width: 300px;
	height: 40px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid 1px #000;
	padding: 6px 10px;
	background: rgba(0, 0, 0, 0.3);
}

.header-4 .top-search i {
	position: absolute;
	height: 40px;
	top: 0px;
	right: 0px;
	padding: 10px 0px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}

/*
==========================================
        HEADER 4 Ends
==========================================
*/
/*
==========================================
        HEADER 6 Starts
==========================================
*/
.header-6 {
	float: left;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.header-6 .nav-container {
	float: left;
	width: 100%;
	padding: 25px 0px;
}

.header-6 .logo {
	float: left;
	margin: 0px;
	width: auto;
}

.header-6 .logo a.logo {
	padding: 0px;
	margin: 0px;
}

.header-6 .logo a {
	display: block;
}

.header-6 .logo img {
	float: left;
}

.header-6 .navigation {
	float: right;
	margin-top: 6px;
}

.header-6 .social-network {
	margin-top: 6px;
}

.padding-none {
	padding: 0px 0px 50px 0px;
}

/*
==========================================
        HEADER 6 Ends
==========================================
*/
/*
==========================================
        TEAM STYLE 2 Starts
==========================================
*/
section {
	float: left;
	width: 100%;
}

.kd-counter {
	text-align: center;
}

/* Counter */
.kd-counter i {
	color: #ffffff;
}

.kd-counter span {
	color: #ffffff;
	display: block;
	font-size: 50px;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	position: relative;
	margin-bottom: 5px;
}

.kd-counter span:before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0px;
	width: 80px;
	height: 3px;
	border-bottom: 2px solid #ffffff;
	margin: 0px 0px 0px -40px;
}

.kd-counter small {
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
}

.widget {
	float: left;
	width: 100%;
}

.team-list.team-modern figure figcaption {
	left: 0;
}

.team-list.team-modern figure figcaption h2 {
	text-align: center;
}

.team-list.team-modern .team-thumb {
	width: 100%;
}

.team-list.team-modern .team-network li {
	background: #fff;
}

.team-list.team-modern .team-network {
	float: none;
	text-align: center;
	margin: 10px 0;
}

.team-list.team-modern .modren-btn {
	display: none;
}

.team-list.team-modern.small figure figcaption h2 a {
	padding: 10px;
	font-size: 18px;
}

.team-list.team-modern figure figcaption h2 {
	box-shadow: inherit;
}

.team-list.team-modern > ul > li.col-md-5 {
	float: none;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}

.align-center {
	text-align: center;
}

.main-content .fullwidth-blog .col-md-12.columns {
	margin-bottom: 30px;
}

.blog-thumbnail img {
	height: 100%;
	width: 100%;
}

.next-prev-style .owl-nav {
	display: block;
}

.team.team-list .owl-nav {
	top: -46px;
}

.bg-color {
	background: #373737;
}

ul.row.item {
	margin-bottom: 0px;
}

.blog-grid-ux article {
	float: left;
	width: 100%;
}

.blog-grid-ux iframe {
	margin: 0px;
}

.team-timeline ul li:nth-child(2n) .timezoon {
	display: none;
}

.result-thumb img {
	height: 111px;
	width: 112px;
}

.margin-bottom-top-30 {
	margin: 30px 0px;
}

.margin-bottom-top-50 {
	margin: 90px 0px 0px 0px;
}

.result-list.shape-view .margin-bottom-top-50 {
	margin: 85px 0 30px;
}

.result-list.shape-view {
	float: left;
	width: 100%;
}

.match-listing {
	clear: both;
}

.blog-full {
	padding: 0px 0px 30px 0px;
  /*margin: 0px 0px 30px 0px;*/
	border-bottom: solid 1px #d1d1d1;
	float: left;
	width: 100%;
}

.blog-full .time-zoon h5 {
	font-size: 26px !important;
}

.simple-column {
	float: left;
	width: 100%;
}

.next-prev-style .owl-nav div:hover {
	color: #fff !important;
}

.cart-option .widget_shopping_cart_content {
	background: #fff;
	display: none;
	position: absolute;
	z-index: 9999999;
}

.widget_shopping_cart_content {
	float: left;
	width: 300px;
	position: absolute;
	top: 100%;
	right: 0px;
	z-index: 100;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	background: #fff;
	padding: 10px;
	border-radius: 5px;
}

.widget_shopping_cart_content p.total {
	padding: 10px;
	background-color: #f5f5f5;
	float: left;
	width: 100%;
}

.widget_shopping_cart_content p.buttons {
	float: left;
	width: 100%;
}

.widget_shopping_cart_content p.buttons a {
	width: 49%;
	float: left;
	text-align: center;
	color: #fff;
	margin: 0px 0px 0px 2%;
}

.widget_shopping_cart_content p.buttons a:hover {
	color: #fff;
	background-color: #000;
}

.widget_shopping_cart_content p.buttons a:first-child {
	margin: 0px;
}

.widget_shopping_cart_content ul.cart_list.product_list_widget {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	list-style: none;
}

.widget_shopping_cart_content ul.cart_list.product_list_widget li {
	float: left;
	width: 100%;
	padding: 10px;
	margin: 10px 0px 0px 0px;
	border: solid 1px #f5f5f5;
}

.widget_shopping_cart_content ul.cart_list.product_list_widget li img {
	width: 80px;
	float: left;
	margin: 0px 15px 0px 0px;
}

.widget_shopping_cart_content ul.cart_list.product_list_widget li:first-child {
	margin: 0px;
}

.widget_shopping_cart_content ul.cart_list.product_list_widget li:hover {
	padding: 10px;
	background-color: #f5f5f5;
}

.cart-option .widget_shopping_cart_content ul.cart_list.product_list_widget li a {
	float: left;
	background: none !important;
	border-radius: 0px;
	padding: 0px;
	color: #333;
	width: 100%;
}

.widget_shopping_cart_content ul.cart_list.product_list_widget li a.remove {
	float: right;
	width: auto;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	font-size: 18px;
	height: 20px;
	width: 20px;
}

.widget_shopping_cart_content ul.cart_list.product_list_widget li span.quantity {
	width: 100%;
	float: left;
	margin: 10px 0px 0px 0px;
	height: 20px;
	width: 20px;
	color: #fff;
	width: 100%;
	font-weight: bold;
	color: #666;
}

div.cart-option,
li.cart-option {
	position: relative;
}

.subheader-height.subheader .page-info {
	padding-top: 5px;
	position: relative;
	z-index: 10;
}

.subheader-height.subheader .page-info h2 {
	margin: 0px;
}

.body-wrapper {
	position: relative;
}

.bxslider {
	width: 100%;
	float: left;
}

.table .em-full-button {
	width: 100%;
}

.em-booking-form-details .dbem_country {
	width: 22%;
}

.em-booking-form label {
	width: 125px;
}

.em-booking-form-details input.input,
.em-booking-form-details textarea {
	height: 150px;
}

.em-booking-form .em-booking-form-details {
	width: 100%;
}

.em-booking-form-details input.input,
.em-booking-form-details textarea {
	width: 425px;
}

.em-booking {
	float: left;
	margin: 15px 0 10px;
	position: relative;
	width: 100%;
}

.col-md-8.columns .booking {
	display: none;
}

.booking {
	text-align: center;
}

.em-booking-form {
	clear: left;
	float: left;
	position: relative;
	width: 50%;
}

div.em-booking-login {
	float: left;
	padding: 0 10px 10px 20px;
	width: 50%;
}

.em-booking-login-form input[type="password"],
.em-booking-login-form input[type="text"] {
	width: 82%;
}

.table .booking .em-full-button {
	font-size: 14px;
}

.tablenav select {
	float: left;
	width: 170px;
}

.em-bookings-table .em-bookings-table-export,
.em-bookings-table .em-bookings-table-settings {
	margin: 8px 5px;
}

.kd-loginbox .modal-dialog {
	width: 430px;
	z-index: 9999;
}

.kd-loginbox ul {
	margin: 0px;
}

.kd-loginbox .modal-body {
	padding: 0px;
	position: relative;
}

.kd-loginbox .close {
	position: absolute;
	right: 15px;
	top: 6px;
	font-size: 30px;
	color: #999 !important;
	opacity: 1;
}

.kd-login-title {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 25px 60px 0px 60px;
}

.kd-login-title h2 {
	text-transform: uppercase;
	color: #999999;
	margin-bottom: 0px;
}

.kd-login-title span {
	font-size: 30px;
	color: #999999;
	font-weight: 600;
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
}

.kd-login-network ul li {
	float: left;
	width: 100%;
	list-style: none;
	margin: 0px 0px 20px 0px;
}

.kd-login-network ul li a {
	background-color: #3b5999;
	color: #ffffff;
	font-size: 20px;
	padding: 6px 20px;
	float: left;
	width: 100%;
	border-radius: 6px;
}

.logout-btn.kd-login-network ul li a {
	background: none;
	color: #000;
	text-align: center;
}

.logout-btn.kd-login-network ul li a i {
	color: #000;
}

.modal-body .close span {
	color: #000;
}

.logout-btn.kd-login-network ul li {
	border: none;
}

.kd-login-network ul li a i {
	margin-right: 10px;
}

.kd-login-network ul li a[data-original-title="Twitter"] {
	background-color: #4fa8e4;
}

/* Or Sepratore */
.kd-login-sepratore {
	display: inline-block;
	width: 100%;
	margin: 0px 0px 15px 0px;
	overflow: hidden;
	text-align: center;
}

.kd-login-sepratore span {
	text-transform: uppercase;
	font-size: 18px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0px;
}

.kd-login-sepratore span:before,
.kd-login-sepratore span:after {
	content: '';
	width: 9999px;
	height: 4px;
	border-top: 1px solid #d4d4d4;
	position: absolute;
	top: 15px;
	left: 100%;
	margin-left: 10px;
}

.kd-login-sepratore span:after {
	content: '';
	left: auto;
	right: 100%;
	margin-left: 0px;
	margin-right: 10px;
}

/* Login Input Form */
.kd-loginbox form {
	display: inline-block;
	width: 100%;
	padding: 0px 60px;
}

.kd-login-title .allowed,
.kd-loginbox form p.status {
	color: #000;
}

.kd-loginbox form p {
	float: left;
	width: 100%;
	margin: 0px 0px 20px 0px;
	position: relative;
}

.kd-loginbox form p input[type="text"],
.kd-loginbox form p input[type="password"] {
	width: 100%;
	border: 1px solid #f0ede8;
	height: 54px;
	float: left;
	border-radius: 4px;
	color: #999999;
	padding: 10px 0px 10px 60px;
}

.kd-loginbox form p i {
	border-right: 1px solid #f0ede8;
	bottom: 0;
	color: #989898;
	font-size: 14px;
	height: 30px;
	left: 17px;
	line-height: 30px;
	margin: auto;
	position: absolute;
	top: 0;
	width: 30px;
}

.kd-loginbox form p input[type="submit"] {
	float: left;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	padding: 10px 27px;
	font-size: 16px;
	border-radius: 5px;
}

.kd-loginbox form p a {
	color: #666666;
	float: left;
	padding: 13px 0px 0px 30px;
	font-size: 14px;
}

.navigation .menu .sub-menu .sub-menu,
.navigation .sub-menu .sub-menu,
.navigation .children .children {
	top: 0;
	left: 100%;
	margin: 0px;
}

.navigation ul > li.last ul {
	left: auto !important;
	right: 0;
}

.navigation ul > li.last ul ul {
	right: 100%;
}

.kd-login-sepratore span {
	color: #000;
}

.is-subscribed {
	float: right;
}

.forums.bbp-replies .bbp-footer {
	color: #fff;
}

.bbpress .item.k-title {
	display: none;
}

#subscription-toggle .subscription-toggle {
	padding: 10px;
	text-align: left;
}

.bp-user.buddypress.bbp-user-page .admin-post,
.forum-archive .admin-post {
	display: none;
}

.post-password-form input[type="password"] {
	height: 43px !important;
}

.post-password-form label {
	margin-bottom: 0px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	float: left;
	width: 100%;
}

.bx-wrapper .bx-controls-direction a {
	background: none !important;
}

header .dl-menuwrapper li a {
	text-align: left;
}

.simple-form img {
	width: auto;
}