<% content_for :title, t('app') %>
<% content_for :description, t('home.index.tag.description') %>
<% content_for :keywords, t('home.index.tag.keywords') %>

<div class="devise-form">
  <h2><%= t('.sign_up') %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <% f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: t('generic.name') %>
    </div>

    <div class="field">
      <% f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('email') %>
    </div>

    <div class="field">
      <% f.label :password %>
      <%= f.password_field :password, autocomplete: "off", placeholder: t('password') %><br>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %>
    </div>

    <div class="field">
      <% f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t('confirm_password') %>
    </div>

    <div class="actions">
      <%= f.submit t('.sign_up') %>
    </div>
  <% end %>

  <% render "devise/shared/links" %>
</div>