<%= form_tag({ action: :create, controller: :moviments }, multipart: true) do %>
  <p><%= number_field_tag 'rescue', nil, placeholder: t('moviments.index.rescue'), min: 50 %></p>
  <p><%= select_tag 'store', t('moviments.index.store_html'), prompt: t('moviments.index.store'), required: true %></p>
  <p><%= submit_tag t('moviments.index.to_rescue') %></p>
<% end %>