<tr>
  <td><span><%= match.mandatory_name %></span><span>VS</span><span><%= match.visitor_name %></span></td>
  <td><%= match.match_date.strftime("%d/%m/%Y") %></td>
  <td><%= link_to match_text_status(match), match_path(match), title: match_text_status(match) %></td>
</tr>