<% content_for :title, "#{t('app')} - #{@match.league_name} - #{@match.mandatory_name} vs #{@match.visitor_name}" %>
<% content_for :description, t('hints.index.tag.description') %>
<% content_for :keywords, "#{t('hints.index.tag.keywords')}, #{@match.mandatory_name}, #{@match.visitor_name}" %>

<%= form_tag(controller: :hints, action: :create, method: :post) do %>
<div id="content-section-1">
  <div class="section-container container background-color">
    <div class="row">
      <div class="result-list shape-view">
        <div class="row margin-top-bottom-25px-70px">
          <div class="row center margin-bottom-20px">
           <div class="result-info">
            <h2><div><%= @match.league_name %></div></h2>
           </div>
          </div>
        </div>
        <div class="row center margin-bottom-20px">
          <div class="col-md-6">
            <article>
              <span id="mandatory-result" class="result-count thbg-colortwo"><%= @match.mandatory_goals %></span>
              <div class="result-thumb">
                <a><img alt="<%= @match.mandatory_name %>" src=""></a>
              </div>
              <div class="result-info">
                <h2><div><%= @match.mandatory_name %></div></h2>
                <%= render partial: 'hints/partials/mandatory_result', locals: { match: @match } unless @match.finished? %>
              </div>
            </article>
          </div>
          <div class="col-md-6">
            <article class="even">
              <span id="visitor-result" class="result-count thbg-colortwo"><%= @match.visitor_goals %></span>
              <div class="result-thumb">
                <img alt="<%= @match.visitor_name %>" src="">
              </div>
              <div class="result-info">
                <h2><div><%= @match.visitor_name %></div></h2>
                <%= render partial: 'hints/partials/visitor_result', locals: { match: @match } unless @match.finished? %>
              </div>
            </article>
          </div>
        </div>
        <div class="row center margin-bottom-20px">
          <%= hidden_field_tag(:match_id, @match.id) %>
          <%= submit_tag(t('do_hint')) %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<% end %>
<script>
  $(document).ready(function () { hints.new.init(); });
</script>