<% content_for :title, "#{t('app')} - #{t('generic.hints')}" %>

<div id="content-section-1">
  <div class="section-container container background-color">
    <div class="row">
      <div class="result-list shape-view">
        <div class="row margin-top-bottom-25px-70px">
          <div class="row center margin-bottom-20px">
           <div class="result-info">
            <h2><div><%= @hint.league_name %></div></h2>
           </div>
          </div>
        </div>
        <div class="row center margin-bottom-20px">
          <div class="col-md-6">
            <article>
              <span id="mandatory-result" class="result-count thbg-colortwo"><%= @hint.mandatory_goals %></span>
              <div class="result-thumb">
                <a><img alt="<%= @hint.mandatory_name %>" src=""></a>
              </div>
              <div class="result-info">
                <h2><div><%= @hint.mandatory_name %></div></h2>
                <ul>
                  <li> <div> <span>C | R</span> </div> </li>
                  <li> <div> <%= t(:goals_first_period) %> <span><%= @hint.mandatory_goals_first_period %> | <%= @hint.match_mandatory_goals_first_period %></span> </div> </li>
                  <li> <div> <%= t(:goals_last_period) %> <span><%= @hint.mandatory_goals_last_period %> | <%= @hint.match_mandatory_goals_last_period %></span> </div> </li>
                  <li> <div> <%= t(:yellow_cards) %> <span><%= @hint.mandatory_yellow_cards %> | <%= @hint.match_mandatory_yellow_cards %></span> </div> </li>
                  <li> <div> <%= t(:fouls) %> <span><%= @hint.mandatory_fouls %> | <%= @hint.match_mandatory_fouls %></span> </div> </li>
                </ul>
              </div>
            </article>
          </div>
          <div class="col-md-6">
            <article class="even">
              <span id="visitor-result" class="result-count thbg-colortwo"><%= @hint.visitor_goals %></span>
              <div class="result-thumb">
                <img alt="<%= @hint.visitor_name %>" src="">
              </div>
              <div class="result-info">
                <h2><div><%= @hint.visitor_name %></div></h2>
                <ul>
                  <li> <div> <span>C | R</span> </div> </li>
                  <li> <div> <%= t(:goals_first_period) %> <span><%= @hint.visitor_goals_first_period %> | <%= @hint.match_visitor_goals_first_period %></span> </div> </li>
                  <li> <div> <%= t(:goals_last_period) %> <span><%= @hint.visitor_goals_last_period %> | <%= @hint.match_visitor_goals_last_period %></span> </div> </li>
                  <li> <div> <%= t(:yellow_cards) %> <span><%= @hint.visitor_yellow_cards %> | <%= @hint.match_visitor_yellow_cards %></span> </div> </li>
                  <li> <div> <%= t(:fouls) %> <span><%= @hint.visitor_fouls %> | <%= @hint.match_visitor_fouls %></span> </div> </li>
                </ul>
              </div>
            </article>
          </div>
        </div>
        <div class="row center margin-bottom-20px">
          <%= render partial: 'hints/partials/match_not_finished' unless @hint.match_finished? %>
          <%= render partial: 'hints/partials/points', locals: { hint: @hint } if @hint.match_finished? %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>