.devise-form {
  margin: 5px;
  text-align: center;
}

.devise-form .field {
  width: 50%;
  margin: 0 auto;
}

.devise-form .actions {
  margin: 5px;
}

.devise-form .remember input,
.devise-form .remember label {
  display: inline-block;
}
