%message-box {
  width: 100%;
  display: block;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  font-weight: 700;
  border-radius: 10px;
}

.error {
  @extend %message-box;
  color: #fff;
  background-color: #f00;
}

.info, .notice {
  @extend %message-box;
  color: #000;
  background-color: #0f0;
}