.pagination {
  display: flex !important;
  justify-content: space-between;
}

.table .pagination span {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table .pagination span a {
  padding: 5px;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.table .pagination span a:hover {
  background-color: #faf2cc;
  color: #195d10;
}

.table .pagination .gap {
  display: none;
}

.table tfoot tr:hover {
  background: #195d10 !important;
}
