<tr>
  <td><span><%= hint.mandatory_name %></span><span>VS</span><span><%= hint.visitor_name %></span></td>
  <td><%= hint.match_date.strftime("%d/%m/%Y") %></td>
  <td><%= link_to t('see_hint'), hint_path(hint), title: t('see_hint') %></td>
</tr>