<ul>
  <li> <div> <%= t(:goals_first_period) %> <span><%= number_field(:hint, :mandatory_goals_first_period, in: 0..99, value: '0', step: 1, class: 'mandatory-goals') %></span> </div> </li>
  <li> <div> <%= t(:goals_last_period) %> <span><%= number_field(:hint, :mandatory_goals_last_period, in: 0..99, value: '0', step: 1, class: 'mandatory-goals') %></span> </div> </li>
  <li> <div> <%= t(:yellow_cards) %> <span><%= number_field(:hint, :mandatory_yellow_cards, in: 0..99, value: '0', step: 1) %></span> </div> </li>
  <li> <div> <%= t(:fouls) %> <span><%= number_field(:hint, :mandatory_fouls, in: 0..99, value: '0', step: 1) %></span> </div> </li>
</ul>