<div class="col-md-12">
  <!-- Mostrar pontos do usuário na partida (Fazer calculo Após a partida ser computada) -->
  <span class="thbg-colortwo box"><%= t('hints.show.points', points: hint.points) %></span>
</div>