<% content_for :title, t('app') %>

<div id="content-section-2">
  <div class="parallax-wrapper background-color" id="parallax-wrapper-3">
    <div class="container">
      <div class="col-md-4 columns">
        <div class="simple-column">
          <div class="kd-counter">
            <i class="fa-3x fa fa fa-soccer-ball-o fa-3x"></i>
            <span id="count-1" class="word-count"><%= @page[:points][:total_points] %></span>
            <small><%= t('users.total_points') %></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 columns">
        <div class="simple-column">
          <div class="kd-counter">
            <i class="fa-3x fa fa fa-soccer-ball-o fa-3x"></i>
            <span id="count-1" class="word-count"><%= @page[:points][:year_points] %></span>
            <small><%= t('users.year_points') %></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 columns">
        <div class="simple-column">
          <div class="kd-counter">
            <i class="fa-3x fa fa fa-flag fa-3x"></i>
            <span id="count-3" class="word-count"><%= @page[:points][:last_month_points] %></span>
            <small><%= t('users.last_month_points') %></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 columns">
        <div class="simple-column">
          <div class="kd-counter">
            <i class="fa-3x fa fa fa-users fa-3x"></i>
            <span id="count-2" class="word-count"><%= @page[:points][:month_points] %></span>
            <small><%= t('users.month_points') %></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 columns">
        <div class="simple-column">
          <div class="kd-counter">
            <i class="fa-3x fa fa fa-users fa-3x"></i>
            <span id="count-2" class="word-count"><%= @page[:points][:week_points] %></span>
            <small><%= t('users.week_points') %></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 columns">
        <div class="simple-column">
          <div class="kd-counter">
            <i class="fa-3x fa fa fa-users fa-3x"></i>
            <span id="count-2" class="word-count"><%= @page[:hints_count] %></span>
            <small><%= t(:hints_count) %></small>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div id="content-section-4">
  <div class="parallax-wrapper" id="parallax-wrapper-5">
    <div class="container">
      <div class="item divider-item"></div>
      <div class="col-md-12 columns">
        <div class="match-listing">
          <table class="table">
            <thead>
              <tr>
                <th><%= t(:next_matches) %></th>
                <th><%= t(:date) %></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'shared/matches/table_next_matches', collection: @page[:next_matches], as: :match %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>