<% content_for :title, t('.tag.title') %>
<% content_for :description, t('.tag.description') %>
<% content_for :keywords, t('.tag.keywords') %>

<div id="content-section">
  <div class="section-container container background-color">
    <div class="row">
      <div class="result-list shape-view">
        <div class="row padding-10px">
          <div class="col-md-12">
          <h1 class="color-white"><%= t('.h1') %></h1>
            <div class="match-listing">
              <table class="table">
                <thead>
                  <tr>
                    <th><%= t(:player) %></th>
                    <th><%= t(:points) %></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: 'users/partials/table_ranking', collection: @ranking, as: :ranking %>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3"><%= paginate @ranking %></td>
                  </tr>
                </tfoot>
              </table>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>