<% content_for :title, t('.tag.title', user_name: @page[:user].name) %>
<% content_for :description, t('.tag.description', user_name: @page[:user].name) %>
<% content_for :keywords, t('.tag.keywords') %>

<div id="content-section">
  <div class="section-container container background-color">
    <div class="row">
      <div class="result-list shape-view">
        <div class="row margin-bottom-top-50">
          <div class="col-md-12">
            <article>
              <div class="result-thumb">
                <a><img alt="<%= @page[:user].name %>" src="<%= @page[:gravatar] %>"></a>
              </div>
              <div class="result-info">
                <h2><div><%= @page[:user].name %></div></h2>
                <ul>
                  <li><div><%= t('users.total_points') %> <span>(<%= @page[:points][:total_points] %>)</span></div></li>
                  <li><div><%= t('users.year_points') %> <span>(<%= @page[:points][:year_points] %>)</span></div></li>
                  <li><div><%= t('users.last_month_points') %> <span>(<%= @page[:points][:last_month_points] %>)</span></div></li>
                  <li><div><%= t('users.month_points') %> <span>(<%= @page[:points][:month_points] %>)</span></div></li>
                  <li><div><%= t('users.week_points') %> <span>(<%= @page[:points][:week_points] %>)</span></div></li>
                  <li><div><%= t(:hints_count) %> <span>(<%= @page[:hints_count] %>)</span></div></li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
