<% content_for :title, t('app') %>
<% content_for :description, t('.tag.description') %>
<% content_for :keywords, t('.tag.keywords') %>

<div id="content-section-1">
  <div class="section-container container background-color">
    <div class="row">
      <div class="result-list shape-view">
        <div class="row margin-bottom-top-50">
          <div class="col-md-6">
            <article>
              <span class="result-count thbg-colortwo"><%= @page[:last_finished_match].mandatory_goals %></span>
              <div class="result-thumb">
                <a><img alt="<%= @page[:last_finished_match].mandatory.name %>" src=""></a>
              </div>
              <div class="result-info">
                <h2><div><%= @page[:last_finished_match].mandatory.name %></div></h2>
                <ul>
                  <li><div><%= t(:goals_first_period) %> <span>(<%= @page[:last_finished_match].mandatory_goals_first_period %>)</span></div></li>
                  <li><div><%= t(:goals_last_period) %> <span>(<%= @page[:last_finished_match].mandatory_goals_last_period %>)</span></div></li>
                  <li><div><%= t(:yellow_cards) %> <span>(<%= @page[:last_finished_match].mandatory_yellow_cards %>)</span></div></li>
                  <li><div><%= t(:fouls) %> <span>(<%= @page[:last_finished_match].mandatory_fouls %>)</span></div></li>
                </ul>
              </div>
            </article>
          </div>
          <div class="col-md-6">
            <article class="even">
              <span class="result-count thbg-colortwo"><%= @page[:last_finished_match].visitor_goals %></span>
              <div class="result-thumb">
                <img alt="<%= @page[:last_finished_match].visitor.name %>" src="">
              </div>
              <div class="result-info">
                <h2><div><%= @page[:last_finished_match].visitor.name %></div></h2>
                <ul>
                  <li><div><%= t(:goals_first_period) %> <span>(<%= @page[:last_finished_match].visitor_goals_first_period %>)</span></div></li>
                  <li><div><%= t(:goals_last_period) %> <span>(<%= @page[:last_finished_match].visitor_goals_last_period %>)</span></div></li>
                  <li><div><%= t(:yellow_cards) %> <span>(<%= @page[:last_finished_match].visitor_yellow_cards %>)</span></div></li>
                  <li><div><%= t(:fouls) %> <span>(<%= @page[:last_finished_match].visitor_fouls %>)</span></div></li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div id="content-section-2">
  <div class="parallax-wrapper background-color" id="parallax-wrapper-3">
    <div class="container">
      <div class="col-md-3 columns">
        <div class="simple-column">
          <div class="kd-counter">
            <i class="fa-3x fa fa fa-soccer-ball-o fa-3x"></i>
            <span id="count-1" class="word-count"><%= @page[:counters][:players] %></span>
            <small><%= t('.players') %></small>
          </div>
        </div>
      </div>
      <div class="col-md-3 columns">
        <div class="simple-column">
          <div class="kd-counter">
            <i class="fa-3x fa fa fa-users fa-3x"></i>
            <span id="count-2" class="word-count"><%= @page[:counters][:finished_matches] %></span>
            <small><%= t('.matches_finished') %></small>
          </div>
        </div>
      </div>
      <div class="col-md-3 columns">
        <div class="simple-column">
          <div class="kd-counter">
            <i class="fa-3x fa fa fa-flag fa-3x"></i>
            <span id="count-3" class="word-count"><%= @page[:counters][:hints] %></span>
            <small><%= t('generic.hints') %></small>
          </div>
        </div>
      </div>
      <div class="col-md-3 columns">
        <div class="simple-column">
          <div class="kd-counter">
            <i class="fa-3x fa fa fa-trophy fa-3x"></i>
            <span id="count-4" class="word-count"><%= @page[:counters][:points] %></span>
            <small><%= t('.total_points') %></small>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div id="content-section-3">
  <div class="section-container container">
    <div class="row">
      <div class="item divider-item"></div>
      <%= render partial: 'home/partials/next_matches_with_details', collection: @page[:next_matches].first(2), as: :match %>
      <div class="item divider-item">
        <div class="divider"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div id="content-section-4">
  <div class="parallax-wrapper background-color" id="parallax-wrapper-5">
    <div class="container">
      <div class="item divider-item"></div>
      <div class="col-md-12 columns">
        <div class="match-listing">
          <table class="table">
            <thead>
              <tr>
                <th><%= t(:next_matches) %></th>
                <th><%= t(:date) %></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'shared/matches/table_next_matches', collection: @page[:next_matches], as: :match %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>