<% content_for :title, t('.tag.title') %>
<% content_for :description, t('.tag.description') %>
<% content_for :keywords, t('.tag.keywords') %>

<div id="content-section">
  <div class="section-container container background-color">
    <div class="row">
      <div class="result-list shape-view">
        <div class="row padding-10px">
          <div class="col-md-12">
          <h1 class="color-white"><%= t('.h1') %></h1>
            <div class="color-white">
              <p><%= t('.term_one_html') %></p>
              <p><%= t('.term_two_html') %></p>
              <p><%= t('.term_three_html') %></p>
              <p><%= t('.term_four_html') %></p>
              <p><%= t('.term_five_html') %></p>
              <p><%= t('.term_six_html') %></p>
              <p><%= t('.term_seven_html') %></p>
              <p><%= t('.term_eigth_html') %></p>
              <p class="font-size-10px"><%= t('.term_nine_html') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>