<% content_for :title, "#{t('app')} - #{t('generic.contacts')}" %>

<div id="content-section">
  <div class="parallax-wrapper background-color" id="parallax-wrapper-5">
    <div class="container">
      <div class="row">
        <div class="item divider-item"></div>
        <div class="col-md-12 columns margin-top-15px">
          <div class="match-listing">
            <table class="table">
              <thead>
                <tr>
                  <th><%= @contact.subject %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%= form_tag({ action: :answer_message, controller: :contacts }, multipart: true) do %>
                      <%= hidden_field_tag 'id', @contact.id %>
                      <p><%= text_area_tag 'message', nil, placeholder: t('contacts.message') %></p>
                      <p><%= submit_tag t(:send) %></p>
                    <% end %>
                  </td>
                </tr>
                <%= render partial: 'contacts/partials/messages', collection: @contact.messages, as: :message %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>