<% content_for :title, "#{t('app')} - #{t('generic.contacts')}" %>

<div id="content-section">
  <div class="parallax-wrapper background-color" id="parallax-wrapper-5">
    <div class="container">
      <div class="row">
        <div class="item divider-item"></div>
        <div class="col-md-12 columns margin-top-15px">
          <div class="match-listing">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t('contacts.subject') %></th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: 'contacts/partials/list', collection: @contacts, as: :contact %>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"><%= paginate @contacts %></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>