<% content_for :title, t('.tag.title') %>
<% content_for :description, t('.tag.description') %>
<% content_for :keywords, t('.tag.keywords') %>

<div id="content-section">
  <div class="section-container container background-color">
    <div class="row">
      <div class="result-list shape-view">
        <div class="row padding-10px">
          <div class="col-md-12">
            <h1 class="color-white"><%= t('.h1') %></h1>
            <%= form_tag({ action: :create, controller: :contacts }, multipart: true) do %>
              <p><%= text_field_tag 'subject', nil, placeholder: t('contacts.subject') %></p>
              <p><%= email_field_tag 'email', nil, placeholder: t('contacts.email') %></p>
              <p><%= text_area_tag 'message', nil, placeholder: t('contacts.message') %></p>
              <p><%= submit_tag t(:send) %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>