<% content_for :title, "#{t('app')} - #{t('generic.contacts')}" %>

<div id="content-section">
  <div class="parallax-wrapper background-color" id="parallax-wrapper-5">
    <div class="container">
      <div class="row">
        <div class="item divider-item"></div>
        <div class="col-md-12 columns margin-top-15px">
          <div class="match-listing">
            <table class="table">
              <thead>
                <tr>
                  <th><%= @contact.subject %></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: 'contacts/partials/messages', collection: @contact.messages, as: :message %>
              </tbody>
              <tfoot>
                <tr>
                  <td>
                    <p><%= link_to t('contacts.answer'), answer_contact_path(@contact), title: t('contacts.answer'), class: 'box contributor-posts-link' %></p>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>