<footer class="footer-bottom-2" id="footer">
    <div class="footer-medium">
        <div class="item divider-item"></div>
        <div class="container">
            <div class="row">
                <div id="text-2" class="col-md-4 widget widget_text widget">
                    <h3 class="widget-title"><%= t('footer.contact_social') %></h3>
                    <ul class="social-links small">
                            <li class="tw-bg"><a target="_self" href="#"><span class="icon icon-twitter"></a></li>
                            <li class="fb-bg"><a target="_self" href="#"><span class="icon icon-facebook"></span></a></li>
                            <li class="youtube-bg"><a target="_self" href="#"><span class="icon icon-youtube"></a></li>
                            <li class="linkedin-bg"><a target="_self" href="#"><span class="icon icon-instagram"></a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>©2018 Chute Feito. All Right Reserved</p>
            </div>
        </div>
    </div>
</div>