<% content_for :title, t('app') %>
<% content_for :description, t('home.index.tag.description') %>
<% content_for :keywords, t('home.index.tag.keywords') %>

<div class="devise-form">
  <h2><%= t('.sign_in') %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <% f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('email') %>
    </div>

    <div class="field">
      <% f.label :password %>
      <%= f.password_field :password, autocomplete: "off", placeholder: t('password') %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit t('.sign_in') %>
    </div>
  <% end %>

  <% render "devise/shared/links" %>
</div>