<% content_for :title, t('matches.index.tag.title') %>
<% content_for :description, t('matches.index.tag.description') %>
<% content_for :keywords, t('matches.index.tag.keywords') %>

<div id="content-section">
  <div class="parallax-wrapper background-color" id="parallax-wrapper-5">
    <div class="container">
      <div class="row">
        <div class="item divider-item"></div>
        <div class="col-md-12 columns margin-top-15px">
          <div class="match-listing">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t(:text_matches) %></th>
                  <th><%= t(:date) %></th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: 'shared/matches/table_next_matches', collection: @matches, as: :match %>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"><%= paginate @matches %></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>