<% content_for :title, "#{t('app')} - #{@match.league_name} - #{@match.mandatory_name} vs #{@match.visitor_name}" %>
<% content_for :description, t('matches.index.tag.description') %>
<% content_for :keywords, "#{t('matches.index.tag.keywords')}, #{@match.mandatory_name}, #{@match.visitor_name}" %>

<div id="content-section-1">
  <div class="section-container container background-color">
    <div class="row">
      <div class="result-list shape-view">
        <div class="row margin-top-bottom-25px-70px">
          <div class="row center margin-bottom-20px">
           <div class="result-info">
            <h2><div><%= @match.league_name %></div></h2>
           </div>
          </div>
        </div>
        <div class="row center margin-bottom-20px">
          <div class="col-md-6">
            <article>
              <span class="result-count thbg-colortwo"><%= @match.mandatory_goals %></span>
              <div class="result-thumb">
                <a><img alt="<%= @match.mandatory_name %>" src=""></a>
              </div>
              <div class="result-info">
                <h2><div><%= @match.mandatory_name %></div></h2>
                <%= render partial: 'matches/partials/mandatory_result', locals: { match: @match } if @match.finished? %>
              </div>
            </article>
          </div>
          <div class="col-md-6">
            <article class="even">
              <span class="result-count thbg-colortwo"><%= @match.visitor_goals %></span>
              <div class="result-thumb">
                <img alt="<%= @match.visitor_name %>" src="">
              </div>
              <div class="result-info">
                <h2><div><%= @match.visitor_name %></div></h2>
                <%= render partial: 'matches/partials/visitor_result', locals: { match: @match } if @match.finished? %>
              </div>
            </article>
          </div>
        </div>
        <div class="row center margin-bottom-20px">
          <%= render partial: 'matches/partials/match_not_started', locals: { match: @match } unless @match.finished? %>
        </div>
        <div class="row center margin-bottom-20px">
          <%= render partial: 'shared/matches/give_hint', locals: { match: @match } if user_signed_in? && !@match.finished? %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>