<div class="col-md-6 columns">
  <div class="result-list shape-view">
    <div class="inner-fixer">
      <div class="team-match">
        <ul>
          <li><a><img alt="" src=""></a></li>
          <li class="home-vs"><a class="modren-btn thbg-colortwo">vs</a></li>
          <li><a><img alt="" src=""></a></li>
        </ul>
        <div class="clearfix"></div>
        <h3><a><%= match.mandatory_name %> VS <%= match.visitor_name %></a></h3>
        <span class="subtitle"><%= match.match_date.strftime("%m/%d/%Y") %></span>
      </div>
    </div>
  </div>
</div>