<% content_for :title, t('app') %>

<div id="content-section">
  <div class="parallax-wrapper background-color" id="parallax-wrapper-5">
    <div class="container">
      <div class="row">
        <div class="item divider-item"></div>
        <div class="col-md-12 columns margin-top-15px">
          <div><%= flash_message.html_safe %></div>
          <div>
            <h1 class="color-white" ><%= t(:extract) %></h1>
            <p class="color-white"><%= "#{t('.game_money')}: #{@page[:user_data].money}" %></p>
          </div>
          <div>
            <%= render_rescue_form(@page[:user_data].money) %>
          </div>
          <div class="match-listing">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t('.description') %></th>
                  <th><%= t('.game_money') %></th>
                  <th><%= t('.type') %></th>
                  <th><%= t(:date) %></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: 'moviments/partials/list', collection: @page[:moviments], as: :moviment %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>