@font-face {
  font-family: 'icomoon';
  src: url(/assets/fonts/icomoon.eot);
  src: url(/assets/fonts/icomoon.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/icomoon.ttf) format("truetype"),
    url(/assets/fonts/icomoon.woff) format("woff"),
    url(/assets/fonts/icomoon.svg#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop1:before {
  content: "\e946";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-left:before {
  content: "\ea38";
}