<html>

<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title><%= yield(:title) %></title>
  <meta name="DC.title" content="<%= yield(:title) %>"/>
  <meta name="description" content="<%= yield(:description) %>."/>
  <meta name="keywords" content="<%= yield(:keywords) %>"/>
  <meta name="robots" content="index,follow" />
  <meta name="revisit-after" content="1 day" />
  <meta name="rating" content="general" />
  <meta name="distribution" content="global" />
  <meta name="author" content="Allan Klaus" />
  <meta name="DC.publisher" content="Allan Klaus" />
  <meta name="Custodian" content="Klaus, Allan" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path('apple-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path('apple-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path('apple-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path('apple-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path('apple-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path('apple-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path('apple-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path('apple-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('apple-icon-180x180.png') %>">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= image_path('android-icon-192x192.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= image_path('favicon-96x96.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon-16x16.png') %>">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131254187-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131254187-1');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9728153179593956",
            enable_page_level_ads: true
       });
  </script>
</head>

<body class="home-page home page-template-default page page-id-131 header-sticky js vsc-initialized" id="home"
  cz-shortcut-listen="true">
  <div class="body-wrapper">
    <div class="content-wrapper">
      <%= render 'shared/template/header' %>
      <div class="content">
        <div class="vc-wrapper container"></div>
        <div class="pagebuilder-wrapper">
          <div id="content-section-banner">
            <div class=" parallax-wrapper background-color" id="mainbanner">
              <div class="container-fluid">
                <div class="row">
                  <div class="space-menu"></div>
                  <%= render 'shared/template/banner' %>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/template/footer' %>
  <script> $(function() { $( '#dl-menu' ).dlmenu(); }); </script>
</body>

</html>